/* Core variables */
@import "./src/main/resources/public/css/variables";

.commits-tab {
    h4 {
        margin: 0;
    }
    .table-container {
        padding: 0 15px 15px;

        table {
            margin: 0;
        }
    }
}