/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-branch-select {
    left: 10px;
    position: absolute;
    top: 8px;
    width: 12%;

    input {
        font-size: 12px;
    }

    .ui-select-bootstrap {
        .ui-select-choices-row > span {
            font-size: 12px;
            padding: 3px 8px;
        }

        .ui-select-match-text span {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .branch-display {
        display: flex;
        flex-direction: row;

        &.active {
            font-weight: bold;
        }

        &.master .fa-fw {
            display: none;
        }

        span {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fa-fw {
            line-height: 20px;
            margin-left: 5px;
            text-decoration: none;

            &:hover {
                color: var(--grey) !important;
            }
        }

        .fa-fw-red {
            color: var(--danger);
            line-height: 20px;
            margin-left: 5px;
            text-decoration: none;
        }
    }
}