/* Core variables */
@import "./src/main/resources/public/css/variables";

.merge-tab {
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        form {
            .merge-message {
                display: inline-block;
                line-height: 33px;
                padding-right: 5px;
                vertical-align: top;
            }

            .select-branch {
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                width: 400px;
            }

            button {
                vertical-align: top;
            }
        }
    }

    .btn-resolution {
        margin-left: 10px;
    }

    .conflict-list-item {
        .fa {
            padding-right: 8px;
        }

        > span:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .conflict-container {
        .flex-container {
            align-items: center;
            display: flex;

            .conflict {
                cursor: pointer;
                flex: 1;
                margin: 15px;

                h6 {
                    border: 1px solid #CCC;
                    border-bottom: 0;
                    margin: 0;
                    padding: 10px;

                    input {
                        margin: 0;
                    }
                }

                &.not-selected {
                    opacity: .5;
                }

                &:hover,
                &.active {
                    box-shadow: 0 0 20px 10px $gray-lighter;
                    opacity: 1;
                }

                pre {
                    border-radius: 0;
                    margin: 0;
                    white-space: pre-wrap;

                    &.additions {
                        background-color: $brand-success-light;
                        color: $brand-success;
                    }

                    &.deletions {
                        background-color: $brand-danger-light;
                        color: $brand-danger;
                    }
                }
            }
        }

    }
}