/* Using the padding kind of like a border in this case */
[custom-widget] {
    background: #000;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 0;
}
/* Clears all iframe styles */
[custom-widget] iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}
[custom-widget] .toolbar {
    cursor: move;
    width: 100%;
}
[custom-widget] .toolbar .fa {
    color: #fff;
    cursor: pointer;
}
[custom-widget] .toolbar .fa:hover {
    color: #666;
    text-decoration: none;
}
