/* Core variables */
@import "./src/main/resources/public/css/variables";

.available-props {
    border-radius: 5px;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid $gray-light;    

    li {
        display: block;
        position: relative;
        padding: 0.25em 0.5em;
        cursor: pointer;
        text-overflow: ellipsis;
        width: 100%;

        &.active {
            background-color: #337AB7;
            color: #fff;
        }
        .open-prop {
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;

            &:hover {
                color: $gray-lighter;
            }
        }
    }
}