/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-editor-tabset {
    height: 100%;

    > .tabset > .tabset-headings {
        background-color: darkseagreen;

        .heading.is-last .heading-text {
            font-family: FontAwesome;
            vertical-align: middle;
            width: auto;

            &:before {
                content: '\f067';
            }
        }
    }
}