/* Core variables */
@import "./src/main/resources/public/css/variables";

.request-record-select {
    display: flex;
    flex-direction: column;

    .record-search-form {
        max-width: 300px;
        margin: 0 auto;
    }
    .records {
        flex: 1;
        overflow-y: auto;

        .card {
            md-card-title-text {
                width: 100%;
            }
            &.selected {
                -webkit-box-shadow: 0px 0px 25px 0px rgba(51,122,183,0.5);
                   -moz-box-shadow: 0px 0px 25px 0px rgba(51,122,183,0.5);
                        box-shadow: 0px 0px 25px 0px rgba(51,122,183,0.5);
            }
            .text {
                @include textOverflow;
            }
            .overview {
                display: -webkit-box;
                height: 60px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
        }
    }
    .paging-container {
        padding: 0 15px;

        .paging-details {
            p {
                line-height: 34px;
                margin: 0;
            }
        }
        .page-count {
            float: left;
            font-size: 1.125em;
            line-height: 34px;
            margin: 0;
        }
        .page-nav {
            float: right;

            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}