.class-block {
    .content-container {
        display: flex;
        flex-direction: row;
        
        .details {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 250px;
        }
        
        .cards {
            flex: 1;
        }
    }
}