.instance-details {
    .list-wrapper {
        overflow-y: auto;
        
        .list-item-wrapper .md-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}