<form id="prop-form">
    <div class="form-group">
        <custom-label>{{dvm.getClassName(ontologyId, classId) + ' Properties'}}</custom-label>
        <prop-select props="dvm.props" selected-prop="dvm.selectedProp" on-change="dvm.update()"></prop-select>
    </div>
    <range-class-description ng-if="dvm.isObjectProperty()" 
        ontology-id="ontologyId" 
        class-id="{{classId}}" 
        selected-prop="{{dvm.selectedProp}}"></range-class-description>
    <div class="form-btns form-group" ng-show="dvm.isObjectProperty()">
        <button type="button" class="btn btn-default" ng-click="set()">Set</button>
        <button type="button" class="btn btn-default" ng-click="setNext()" ng-disabled="dvm.props.length <= 1">Set &amp; Next</button>
    </div>
</form>