/* Core variables */
@import "./src/main/resources/public/css/variables";

see-history {
    .see-history-title {
        margin-bottom:0px;
        margin-right:5px;
    }
    .right-buffer {
        margin-right:8px;
    }
    .top-buffer {
        margin-top:30px;
    }
}