/* Core variables */
@import "./src/main/resources/public/css/variables";

.login {
    left: 0;
    position: absolute;
    width: 100%;

    /* Style for the box around the login form */
    .form-container {
        border-radius: 10px;
        margin: 0 auto;
        padding: 20px 20px 30px;
        width: 425px;

        /* Applies proper margins to the login header */
        h1 {
            margin: 0 0 15px;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .login .form-container {
        width: 90%;
    }
}