<!-- login.html -->
<div class="login" ng-controller="LoginController as vm">
    <div class="bg-info form-container">
        <h1 class="text-center">Sign In Here</h1>
        <form name="vm.form" ng-submit="vm.login(vm.form.$valid)" class="clearfix" novalidate>
            <!-- error messages -->
            <p class="error-msg" ng-show="vm.showError">This email/password combination is not correct.</p>

            <!-- email/username -->
            <div class="form-group">
                <label for="email" class="sr-only">Email Address</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="vm.form.email" ng-change="vm.showError = false;" required>
                </div>
            </div>

            <!-- password -->
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.form.password" ng-change="vm.showError = false;" required>
                </div>
            </div>

            <!-- login button -->
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="vm.form.$invalid">Login</button>

            <!-- forgot password link -->
            <a type="button" class="btn btn-link btn-block">Forgot your password?</a>
        </form>
    </div>
</div>