// Core variables
@import "./src/main/resources/public/css/vendor/bootstrap/variables";


.login {
    /* Style for the box around the login form */
    .form-container {
        border-radius: 10px;
        margin: 20px auto;
        padding: 15px 20px 25px;
        width: 425px;
    }

    /* Adds a bit of spacing around the error message */
    .error-msg {
        padding: 15px;
    }
}

@media (max-width: $screen-xs-max) {
    .login .form-container {
        width: 90%;
    }
}