/* Core variables */
@import "./src/main/resources/public/css/variables";

.quick-action-grid {
    a {
        &:hover, &:focus {
            background-color: var(--light);
            text-decoration: none;
        }
        .icon-span {
            font-size: 3rem;
        }
    }
}