/* Core variables */
@import "./src/main/resources/public/css/variables";

edit-request-overlay {
    .edit-target-branch {
        display: inline-flex;
        flex-direction: row;
        justify-items: center;
        align-items: baseline;

        .form-control-static {
            padding: 0;
            flex-grow: unset;
        }
        .ui-select-toggle {
            width: 100%;
        }
        input.ui-select-search {
            width: 100% !important;

            &.ng-hide {
                display: block !important;
                visibility: hidden;
                height: 0;
                border: 0;
                padding: 0;
            }
        }
        .select-branch {
            margin: 0 25px 0px 5px;
            box-sizing: content-box;
        }
    }
    .commit-difference-tabset {
        flex: 1;
        margin-top: 20px;
    }
}