/* Core variables */
@import "./src/main/resources/public/css/variables";

.module-box {
    padding: 1.5em;
    text-align: center;

    .icon-wrapper {
        border-radius: 3em;
        color: #fff;
        display: inline-block;
        padding: 1.25em 1em;
    }

    h2 {
        margin: 0;
        padding: .25em;
    }

    .description {
        font-size: 1.125em;
        margin: 0;
        padding: 1em 0;
    }
}