//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 75%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-custom:            #E8E8E8;

$error-color: #f00;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-success-light:   lighten($brand-success, 30%);
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-danger-light:    lighten($brand-danger, 30%);

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Small screen / tablet
$screen-sm-min:              768px !default;

// Medium screen / desktop
$screen-md-min:              992px !default;

// Large screen / wide desktop
$screen-lg-min:              1200px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//== Common Mixins
@mixin right-arrow($size, $color) {
    width: 0; 
    min-height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
}

@mixin breakword() {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

@mixin noCopy() {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

@mixin offsetHeight($offset) {
    height: -webkit-calc(100% - $offset);
    height:    -moz-calc(100% - $offset);
    height:         calc(100% - $offset);
}

$btn-bg-darker: #204d74 !default;
$btn-bg-dark: #286090 !default;
$btn-bg: $brand-primary !default;
$sidebar-width: 39px;
$highlight-blue: #5898D0;
$circle-button-width: 57px;
$circle-button-tooltip: 62px;