/* Core variables */
@import "./src/main/resources/public/css/variables";

/* General page spacing */
body {
    bottom: 0;
    left: 0;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow-x: hidden;

    /* Overall design styles */
    .blue-bar {
        height: 48px;
        background-color: $highlight-blue;
    }

    .white-bar {
        background-color: #fff;
        box-shadow: 5px 5px 5px 0px $gray-light;
        height: 52px;
        text-align: center;
    }

    /* All <a> tags have the pointer cursor */
    a {
        cursor: pointer;
    }

    button.no-padding {
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .field-name {
        font-weight: bold;
    }

    /* Error message font */
    .error-display {
        color: #f00;
        font-weight: bold;
    }

    .info-message {
        font-weight: bold;
    }

    .has-error {
        /* Error label font */
        .control-label,
        .control-label small {
            color: #f00;
        }

        /* Error message input border */
        .form-control {
            border-color: #f00;

            &:focus {
                border-color: #e00;
            }
        }

        /* Error message spacing when below form inputs */
        .error-display {
            margin: 5px 0 0;
        }
    }

    /* view container spacing with extra on the bottom for the icon buttons */
    > .view-container {
        padding: 52px 15px 15px 15px;

        /* removes top margin from page headers */
        h1 {
            margin-top: 0;
        }
    }
}

/* clears out ul styles */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* standard box style and height */
.boxed {
    border: 1px solid $gray-dark;
    height: 100%;
    overflow-y: auto;
}

/* Overlay styles */
.overlay {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9000;

    /* animation */
    &.ng-enter {
        -webkit-transition: 0.2s linear all;
                transition: 0.2s linear all;
        opacity: 0;
        .content {
            -webkit-transition: 0.2s linear all;
                    transition: 0.2s linear all;
            top: -100px;
        }

        &.ng-enter-active {
            opacity: 1;
            .content {
                top: 0px;
            }
        }
    }
    &.ng-leave {
        -webkit-transition: 0.2s linear all;
                transition: 0.2s linear all;
        opacity: 1;
        .content {
            -webkit-transition: 0.2s linear all;
                    transition: 0.2s linear all;
            top: 0px;
        }

        &.ng-leave-active {
            opacity: 0;
            .content {
                top: 100px;
            }
        }
    }

    /* small sized overlay */
    &.sm .content {
        width: 350px;
    }

    /* large sized overlay */
    &.lg .content {
        width: 750px;
    }

    /* extra large sized overlay */
    &.xlg .content {
        width: 900px;
    }

    /* overlay content styles */
    .content {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        left: 0;
        margin: 100px auto 0;
        padding: 10px;
        position: absolute;
        right: 0;
        width: 500px;

        /* header text style */
        h6, h1 {
            background-color: $highlight-blue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #fff;
            font-size: 1.05em;
            margin: -10px -10px 10px;
            padding: 10px;
        }

        .main {
            margin-bottom: 15px;
            word-wrap: break-word;
        }
    }
}

/* button styles */
.btn-container {
    .checkbox {
        margin-bottom: 6px;
        margin-top: 7px;
    }

    /* adds margin depending on which way the button is pulled */
    .btn {
        &.pull-left {
            margin-right: 10px;
        }
        &.pull-right {
            margin-left: 10px;
        }
    }
}

.md-button {
    text-transform: none;
}

.checkbox input {
    cursor: pointer;
}

/* adds spacing for icons in buttons */
.btn .fa {
    margin-right: 2px;
}

/* tree styles */
/* Styles for the left side of the screen */
.tree {
    padding: 10px;
    @include noCopy();

    .tree {
        padding: 0;
    }

    /* Anchor inherits the color of parent and fills container completely */
    a {
        color: inherit;
        cursor: pointer;
        display: flex;
        padding: 3px 4px;
        text-decoration: none;

        &:hover,
        &.active,
        &.active .unsaved-icon,
        &.unsaved:hover .unsaved-icon {
            background-color: $brand-primary;
            color: #fff;
        }

        > span {
            flex: 1;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        > .fa.fa-fw {
            line-height: 20px;
            margin-right: 2px;

            &.fa-minus-square-o:hover:before {
                content: '\f146';
            }

            &.fa-plus-square-o:hover:before {
                content: '\f0fe';
            }

            &.fa-caret-left {
                margin-right: 0;
                margin-left: 2px;
            }
        }
    }

    /* General styles for the ul elements */
    ul,
    .repeater-container {
        /* Padding to match the width of the icons */
        ul,
        .creator {
            border-left: 1px solid $gray-lighter;
            margin-left: 1.28571429em;
        }

        /* The list items which contain an anchor for all of the items in the tree */
        li,
        .tree-item {
            width: 100%;

            &.invalid .fa-check:before {
                content: "\f071";
            }

            /* Class identifying that it contains a <ul> element */
            &.container {
                margin: 0;
                padding: 0;
            }

            &.invalid a {
                .unsaved-icon {
                    color: $brand-danger;
                }

                &.active .unsaved-icon {
                    color: #fff;
                }
            }
        }
    }
}

/* makes the height of the containers 100% so scrolling works as expected */
.full-height {
    height: 100%;
}

/* table with inputs */
.input-table {
    margin: 0;

    /* table header cell styles */
    > thead > tr > th.action-button {
        width: 37px;
    }

    /* table body cell styles */
    > tbody > tr > td {
        padding: 0;
        position: relative;

        &.action-button {
            text-align: center;
        }

        /* Removes all input styles to make the table look better */
        input {
            background-color: transparent;
            border: 0;
            padding: 8px 35px 8px 8px;
            width: 100%;
        }

        /* The plus button in the prefix table to add new rows */
        .add,
        .remove {
            padding: 7px 12px;
        }

        /* absolutely positions the edit button */
        .edit {
            bottom: 0;
            padding: 7px 8px;
            position: absolute;
            right: 0;
        }
    }
}

/* section title */
.section-header {
    background: $brand-primary;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 6px 15px 10px;
}

/* static form display spacing */
.form-control-static {
    min-height: auto;
    padding: 0 0 0 13px;
}

.ui-select-multiple.ui-select-bootstrap {
    padding: 3px;

    &.open {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    input.ui-select-search {
        margin: 2px 0 1px;
        padding: 0 9px;
    }

    .ui-select-match-item {
        margin-bottom: 2px;
    }

    &[disabled] input.ui-select-search {
        display: initial !important;
    }
}

.ui-select-bootstrap .ui-select-choices-row.active > a .text-muted {
    color: #fff;
}

.ontology-select.ui-select-bootstrap > .ui-select-match > .btn {
    height: auto;
}

.btn.btn-circle {
    border-radius: 28px;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    padding: 16px 14px;
    position: relative;

    &.small {
        border-radius: 25px;
        padding: 13px 11px;

        .fa {
            font-size: 1.25em;
        }

        .display-text {
            right: $circle-button-tooltip;
            top: 9px;
        }
    }

    &:hover {
        box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
        -webkit-transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
                transition: box-shadow 150ms cubic-bezier(0,0,.2,1);

        .display-text {
            display: inline-block;
        }
    }

    &:focus {
        outline: 0;
    }

    .fa {
        font-size: 1.5em;
        margin: 0;
    }

    .display-text {
        background-color: $gray;
        box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
        color: #fff;
        display: none;
        padding: 5px 8px;
        position: absolute;
        right: 72px;
        top: 13px;
    }
}

.nav li {
    color: #fff;
    display: inline-block;

    button {
        background: transparent;
        border: 0;
        outline: 0;
    }

    /* Styles the icon itself */
    a,
    button {
        color: inherit;
        cursor: pointer;
        display: inline-block;
        padding: 6px;
        text-decoration: none;

        &.disabled,
        &[disabled] {
            color: $gray-light;
        }

        /* Changes the color of the icons as you hover over them. */
        &:not(.disabled):not([disabled]):hover {
            color: $brand-info;
        }

        .fa,
        .create-icon .identifier {
            font-size: 1.5em;
        }

        /* The words that appear next to the icon */
        .name {
            display: none;
            line-height: 2em;
            padding-left: 10px;
            vertical-align: top;
        }

        .create-icon {
            display: inline-block;
            position: relative;

            .identifier {
                display: inline-block;
                font-weight: bold;
                text-align: left;
                padding-left: 3px;

                &.narrow {
                    padding-left: 7px;
                }
            }

            .fa {
                font-size: .75em;
                position: absolute;
                right: 2px;
                top: 0;
            }
        }
    }
}

/* Pagination styles */
.page-nav {
    display: block;
    text-align: center;
}

body.collapsed-nav {
    .main-page {
        margin-left: 50px;
    }
}
body {
    .main-page {
        height: 100%;
        margin-left: 200px;
        padding-top: 42px;
		transition: all .25s ease;
    }
}

/* Helper Classes */
.padding {
    padding: 15px;
}