id = system.federation.hazelcast
title = Hazelcast System Federation Service
description = Federation service implemented via Hazelcast
sharedKey = nMrOxKwZPateA7SqMkzH+5TJyD6ZH4Xs
listeningPort = 5701
joinMechanism = MULTICAST
multicastGroup = 224.0.0.1
multicastTimeoutSeconds = 10
