id = system.federation.hazelcast
title = Hazelcast System Federation Service
description = Federation service implemented via Hazelcast
sharedKey = In8W6vB64CQXzZTtlXeQi3/8aiPMQ1Ej
password = FEDERATION_PASSWORD
listeningPort = 5701
joinMechanism = MULTICAST
multicastGroup = 224.0.0.1
multicastTimeoutSeconds = 10
maxNoHeartbeatSeconds = 10
