/* Core variables */
@import "./src/main/resources/public/css/variables";

.dataset-form-group {
    .flex-container {
        display: flex;

        .select-container {
            flex: 1;
        }
        .btn-clear {
            line-height: 33px;
        }
    }
}