/* Core variables */
@import "./src/main/resources/public/css/variables";

.block {
    .block-content {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        position: relative;
    }
}