/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-editor-tabset {
    .tabset.centered > .tabset-headings {
        height: 48px;

        .heading {
            font-size: 14px;
            line-height: 18px;
        }
        .fa {
            line-height: 18px;
            padding-right: 5px;
        }
    }
    .up-to-date .heading .fa.fa-exclamation-triangle {
        display: none;
    }
    .heading {
        &.active .fa.fa-exclamation-triangle {
            color: var(--danger);
        }

        .fa.fa-exclamation-triangle {
            color: var(--danger-light);
        }
    }
    > .tabset > .tabset-headings {
        background-color: var(--primary);

        .heading {
            &.is-last .heading-text {
                font-family: FontAwesome;
                vertical-align: middle;
                width: auto;

                &:before {
                    content: '\f067';
                }
            }
            .heading-text {
                width: 100px;
            }
        }
    }
}