/* Core variables */
@import "./src/main/resources/public/css/variables";

.home {
    .welcome-banner {
        overflow: hidden;
    }
    .image-text {
        z-index: 10;
    }
    .image-container, .image-overlay {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .image-overlay {
        opacity: 0.4;
        z-index: 9;
    }
}