#IntelliJ
*.iml
.idea

#Eclipse
.project
.settings
.classpath
*.checkstyle

#NetBeans
**/nb-configuration.xml

#Maven
target

#Web
node_modules/

#Other
*.swp
*.log
.DS_Store
*/docs/
dependency-reduced-pom.xml
**/package-lock.json

