/* Core variables */
@import "./src/main/resources/public/css/variables";

.property-filter-overlay {
    z-index: 10;

    .path {
        border-bottom: 1px solid var(--light-dark);
        margin: -10px -10px 10px -10px;
        min-height: 33px;
        padding: 8px 10px;

        span {
            margin-left: 8px;
            white-space: nowrap;

            &.text {
                text-decoration: underline;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .input-container {
        label {
            width: 100%;
        }
        md-input-container {
            margin-top: 0;
            width: 100%;
        }
    }
    .range-container {
        display: flex;

        md-input-container {
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                margin-left: 10px;
            }
        }
    }
}
