/* Core variables */
@import "./src/main/resources/public/css/variables";

.catalog-side-bar {
    li:first-child button {
        cursor: auto;
    }
    li:last-child {
        position: absolute;
        bottom: 0;
    }
}