/* Core variables */
@import "./src/main/resources/public/css/variables";

.query-tab {
    display: flex;
    flex-direction: column;

    .block-container {
        flex: 1;
        padding-bottom: 15px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}