<!-- annotation template -->
<script type="text/ng-template" id="annotations-template">
    <!-- list of annotations -->
    <div class="well well-sm annotation" ng-repeat="item in vm.selected.annotations">
        <span><strong>{{item}}</strong><br>{{vm.selected[item]}}</span>
        <button type="button" class="btn btn-link" ng-click="vm.removeAnnotation(item)"><i class="fa fa-fw fa-times"></i></button>
    </div>
    <!-- annotation list -->
    <div class="form-group">
        <label class="control-label" for="ontology-annotation-list">Annotation</label>
        <select class="form-control"  id="ontology-annotation-list" name="annotation-list" ng-model="vm.selected.currentAnnotation">
            <option value="default">Please select an annotation to add</option>
            <option ng-repeat="annotation in ((vm.current.oi === -1) ? vm.selected.annotationList : vm.ontologies[vm.current.oi].annotationList)" ng-show="!vm.selected['{{annotation}}']">{{annotation}}</option>
            <option value="other">Add a new annotation</option>
        </select>
    </div>
    <!-- key, if new -->
    <div ng-show="vm.selected.currentAnnotation === 'other'" class="form-group">
        <label class="control-label" for="ontology-annotation-key">Name</label>
        <input type="text" class="form-control" id="ontology-annotation-key" name="annotation-key" ng-model="vm.selected.currentAnnotationKey" />
    </div>
    <!-- value -->
    <div class="form-group">
        <label class="control-label" for="ontology-annotation-value">Value</label>
        <textarea class="form-control" id="ontology-annotation-value" name="annotation-value" ng-model="vm.selected.currentAnnotationValue"></textarea>
    </div>
    <!-- TODO: add a section here for comments -->
    <!-- annotation buttons -->
    <div class="btn-container clearfix">
        <button type="button" class="btn btn-primary pull-right"
                ng-click="vm.addAnnotation()"
                ng-disabled="!(((vm.selected.currentAnnotation === 'other' && vm.selected.currentAnnotationKey) || vm.selected.currentAnnotation) && vm.selected.currentAnnotationValue)">Add annotation</button>
    </div>
</script>

<!-- ontology-editor.html -->
<div class="ontology-editor clearfix" ng-controller="OntologyEditorController as vm">
    <div class="row">
        <!-- navigation structure -->
        <aside class="col-md-3 col-sm-4 col-xs-6">
            <div class="tree-container boxed">
                <!-- tab view -->
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'everything'}"
                       ng-click="vm.changeTab('everything');"><small>Tree</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'class'}"
                       ng-click="vm.changeTab('class');"><small>Class</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'object'}"
                       ng-click="vm.changeTab('object');"><small>Object</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'datatype'}"
                       ng-click="vm.changeTab('datatype');"><small>Data</small></a>
                </div>

                <!-- tree showing ontologies, classes, and properties -->
                <div ng-show="vm.tab == 'everything'" class="tree everything-tree scroll-without-buttons">
                    <!-- tree view -->
                    <strong>Everything</strong>
                    <!-- start ontologies -->
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="vm.edit($index)"
                               ng-class="{'unsaved': ontology.unsaved, 'active': vm.current.oi == $index && vm.current.ci == undefined}">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                   ng-click="opened = !opened; $event.stopPropagation();"
                                ></i>{{ontology[ontology.rdfs + 'label'] || ontology['identifier'] + ontology['delimiter']}}
                                <i ng-show="ontology.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- start classes -->
                            <ul ng-repeat="(ci, class) in ontology.classes">
                                <li>
                                    <a ng-click="vm.edit(oi, $index)"
                                       ng-class="{'unsaved': class.unsaved, 'active': vm.current.oi == oi && vm.current.ci == $index && vm.current.pi == undefined}">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-minus-square-o': subOpened, 'fa-plus-square-o': !subOpened}"
                                           ng-click="subOpened = !subOpened; $event.stopPropagation();"
                                        ></i>{{class[ontology.rdfs + 'label'] || class['@id']}}
                                        <i ng-show="class.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                                <li class="container" ng-show="subOpened">
                                    <!-- start properties -->
                                    <ul>
                                        <li ng-repeat="property in class.properties">
                                            <a ng-click="vm.edit(oi, ci, $index)"
                                               ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                                <i class="fa fa-fw {{property.icon}}"
                                                ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                                <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="creator">
                                        <a ng-click="vm.edit(oi, ci, -1)"
                                           ng-class="{'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == -1}">
                                            <i class="fa fa-plus fa-fw"></i>New Property
                                        </a>
                                    </div>
                                    <!-- end properties -->
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.edit(oi, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                            <!-- end classes -->
                            <!-- start no domains -->
                            <ul ng-if="ontology.noDomains.length">
                                <li>
                                    <a ng-click="noDomains = !noDomains; $event.stopPropagation();">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-folder-open-o': noDomains, 'fa-folder-o': !noDomains}"></i>Properties
                                    </a>
                                </li>
                                <li class="container" ng-show="noDomains">
                                    <ul>
                                        <li ng-repeat="property in ontology.noDomains">
                                            <a ng-click="vm.edit(oi, undefined, $index)"
                                               ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == undefined && vm.current.pi == $index}">
                                                <i class="fa fa-fw {{property.icon}}"
                                                ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                                <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end no domains -->
                        </li>
                    </ul>
                    <div class="creator">
                        <a ng-click="vm.edit(-1)"
                           ng-class="{'active': vm.current.oi == -1}">
                            <i class="fa fa-plus fa-fw"></i>Create New Ontology
                        </a>
                        <a ng-click="vm.showUploadOverlay = true;"
                           ng-class="{'active': vm.showUploadOverlay}">
                            <i class="fa fa-upload fa-fw"></i>Upload Ontology
                        </a>
                    </div>
                    <!-- end ontologies -->
                </div>

                <!-- tree showing classes -->
                <div ng-show="vm.tab == 'class'" class="tree class-tree scroll-without-buttons">
                    <!-- class view -->
                    <strong>Classes</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                        ></i>{{ontology[ontology.rdfs + 'label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <ul>
                                <li ng-repeat="class in ontology.classes">
                                    <a class="text-only"
                                       ng-click="vm.edit(oi, $index)"
                                       ng-class="{'unsaved': class.unsaved, 'active': vm.current.oi == oi && vm.current.ci == $index && vm.current.pi == undefined}">
                                        {{class[ontology.rdfs + 'label'] || class['@id']}}
                                        <i ng-show="class.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.edit(oi, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing object properties -->
                <div ng-show="vm.tab == 'object'" class="tree object-tree scroll-without-buttons">
                    <!-- property view -->
                    <strong>Object Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"></i>{{ontology[ontology.rdfs + 'label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- properties associated with classes -->
                            <ul ng-repeat="(ci, class) in ontology.classes">
                                <li ng-repeat="property in class.properties" ng-if="property['@type'] == ontology.owl + 'ObjectProperty'">
                                    <a class="text-only"
                                       ng-click="vm.edit(oi, ci, $index)"
                                       ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                        <i class="fa fa-fw {{property.icon}}"
                                        ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                        <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- properties not associated with classes -->
                            <ul>
                                <li ng-repeat="property in ontology.noDomains" ng-if="property['@type'] == ontology.owl + 'ObjectProperty'">
                                    <a class="text-only"
                                       ng-click="vm.edit(oi, undefined, $index)"
                                       ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == undefined && vm.current.pi == $index}">
                                        <i class="fa fa-fw {{property.icon}}"
                                        ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                        <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.createProperty(oi, -1, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1 && vm.current.pi == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Object Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing dataType properties -->
                <div ng-show="vm.tab == 'datatype'" class="tree datatype-tree scroll-without-buttons">
                    <!-- property view -->
                    <strong>DataType Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                ></i>{{ontology[ontology.rdfs + 'label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- properties associated with classes -->
                            <ul ng-repeat="(ci, class) in ontology.classes">
                                <li ng-repeat="property in class.properties" ng-if="property['@type'] == ontology.owl + 'DataTypeProperty' || property['@type'] == ontology.owl + 'DatatypeProperty'">
                                    <a class="text-only"
                                       ng-click="vm.edit(oi, ci, $index);"
                                       ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                        <i class="fa fa-fw {{property.icon}}"
                                        ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                        <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- properties not associated with classes -->
                            <ul>
                                <li ng-repeat="property in ontology.noDomains" ng-if="property['@type'] == ontology.owl + 'DataTypeProperty' || property['@type'] == ontology.owl + 'DatatypeProperty'">
                                    <a class="text-only"
                                       ng-click="vm.edit(oi, undefined, $index)"
                                       ng-class="{'unsaved': property.unsaved, 'active': vm.current.oi == oi && vm.current.ci == undefined && vm.current.pi == $index}">
                                        <i class="fa fa-fw {{property.icon}}"
                                        ></i>{{property[ontology.rdfs + 'label'] || property['@id']}}
                                        <i ng-show="property.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.createProperty(ontology, ontology.classes[$index])"
                                   ng-class="{'active': vm.state['datatype'].selected == 'create-property' && vm.state['datatype'].class == class}">
                                    <i class="fa fa-plus fa-fw"></i>New DataType Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <!-- edit/create form section -->
        <section class="col-md-9 col-sm-8 col-xs-6">
            <div class="editor boxed">
                <!-- default -->
                <div ng-show="vm.shown == 'default'" class="tab default">
                    <p class="lead">Welcome to the Ontology Editor!</p>
                    <p>Click an item in the left pane to get started. This pane will then update accordingly.</p>
                </div>

                <!-- success message -->
                <p ng-show="vm.success" class="text-success"><i class="fa fa-check fa-fw"></i>Success</p>

                <!-- ontology editor -->
                <form name="vm.ontologyForm" class="clearfix" novalidate autocomplete="off"
                      ng-submit="vm.submit(vm.ontologyForm.$valid)"
                      ng-show="vm.shown == 'ontology-editor'">

                    <!-- ontology editor tabs -->
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-primary"
                           ng-class="{'active': !vm.ontologies[vm.current.oi].tab || vm.ontologies[vm.current.oi].tab == 'basic'}"
                           ng-click="vm.ontologies[vm.current.oi].tab = 'basic'"><small>Basic</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.ontologies[vm.current.oi].tab == 'annotations'}"
                           ng-click="vm.ontologies[vm.current.oi].tab = 'annotations'"><small>Annotations</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.ontologies[vm.current.oi].tab == 'prefix'}"
                           ng-click="vm.ontologies[vm.current.oi].tab = 'prefix'"><small>Prefix</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="!vm.ontologies[vm.current.oi].tab || vm.ontologies[vm.current.oi].tab == 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- identifier and delimiter -->
                        <div class="row">
                            <!-- identifier -->
                            <div class="form-group col-xs-9">
                                <label class="control-label" for="ontology-identifier">Identifier</label>
                                <input type="text" class="form-control" id="ontology-identifier" name="iri" ng-model="vm.selected.identifier" ng-trim="false" ng-change="vm.unsaved();">
                            </div>
                            <!-- delimiter -->
                            <div class="form-group col-xs-3">
                                <label class="control-label" for="ontology-delimiter">Delimiter</label>
                                <select class="form-control" id="ontology-delimiter" ng-model="vm.selected.delimiter" ng-change="vm.unsaved();">
                                    <option value="#">#</option>
                                    <option value="/">/</option>
                                    <option value=":">:</option>
                                </select>
                            </div>
                        </div>
                        <!-- label -->
                        <div class="form-group">
                            <label class="control-label" for="ontology-label">{{(vm.current.oi !== -1) ? vm.ontologies[vm.current.oi].rdfs : vm.selected.rdfs}}label</label>
                            <input type="text" class="form-control" id="ontology-label" name="label" ng-model="vm.selected[((vm.current.oi !== -1) ? vm.ontologies[vm.current.oi].rdfs : vm.selected.rdfs) + 'label']" ng-trim="false" ng-change="vm.unsaved();">
                        </div>
                        <!-- comments -->
                        <div class="form-group">
                            <label class="control-label" for="ontology-comments">{{(vm.current.oi !== -1) ? vm.ontologies[vm.current.oi].rdfs : vm.selected.rdfs}}comment</label>
                            <textarea class="form-control" id="ontology-comments" name="comments" ng-model="vm.selected[((vm.current.oi !== -1) ? vm.ontologies[vm.current.oi].rdfs : vm.selected.rdfs) + 'comment']" ng-change="vm.unsaved();"></textarea>
                        </div>
                        <!-- buttons -->
                        <div ng-show="vm.ontologies[vm.current.oi].tab != 'annotations'" class="btn-container clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.ontologyForm.$invalid">Save</button>
                            <!--button ng-if="vm.current.oi != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()" ng-disabled="vm.versions[vm.current.oi].length === 1">Undo</button-->
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.ontologies[vm.current.oi].tab == 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>

                    <!-- prefix tab -->
                    <div ng-show="vm.ontologies[vm.current.oi].tab == 'prefix'" class="tab clearfix">
                        <!-- prefixes -->
                        <table class="table table-bordered input-table">
                            <thead>
                                <tr>
                                    <th class="prefix-col">Prefix</th>
                                    <th>Value</th>
                                    <th class="action-button"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.selected.context track by $index">
                                    <td>
                                        <input id="prefix-{{$index}}" type="text" value="{{item.key}}" ng-readonly="!editKey" />
                                        <button type="button" class="btn btn-link edit" ng-click="vm.editPrefix(editKey, item.key, $index, value); editKey = !editKey;">
                                            <i class="fa fa-pencil" ng-class="{'fa-pencil': !editKey, 'fa-floppy-o': editKey}"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <input id="value-{{$index}}" type="text" value="{{item.value}}" ng-readonly="!editValue" />
                                        <button type="button" class="btn btn-link edit" ng-click="editValue = !editValue;">
                                            <i class="fa fa-pencil" ng-class="{'fa-pencil': !editValue, 'fa-floppy-o': editValue}"></i>
                                        </button>
                                    </td>
                                    <td class="action-button">
                                        <button type="button" class="btn btn-link remove" ng-click="vm.removePrefix(item.key)"><i class="fa fa-minus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="vm.newPrefix" placeholder="Enter new prefix..." />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="vm.newValue" placeholder="Enter new value..." />
                                    </td>
                                    <td class="action-button">
                                        <button type="button" class="btn btn-link add" ng-click="vm.addPrefix()"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- error messages for empty or unique -->
                        <div class="has-warning clearfix" ng-if="vm.showDuplicateMessage || vm.showEmptyMessage">
                            <strong ng-if="vm.showDuplicateMessage" class="help-block">Both prefix and value must be unique.</strong>
                            <strong ng-if="vm.showEmptyMessage" class="help-block">Both prefix and value must be provided.</strong>
                        </div>
                    </div>
                </form>

                <!-- class editor -->
                <form name="vm.classForm" class="clearfix" novalidate autocomplete="off"
                      ng-submit="vm.submit(vm.classForm.$valid)"
                      ng-show="vm.shown == 'class-editor'">

                    <!-- class editor tabs -->
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-primary"
                           ng-class="{'active': !vm.ontologies[vm.current.oi].classes[vm.current.ci].tab || vm.ontologies[vm.current.oi].classes[vm.current.ci].tab == 'basic'}"
                           ng-click="vm.ontologies[vm.current.oi].classes[vm.current.ci].tab = 'basic'"><small>Basic</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.ontologies[vm.current.oi].classes[vm.current.ci].tab == 'annotations'}"
                           ng-click="vm.ontologies[vm.current.oi].classes[vm.current.ci].tab = 'annotations'"><small>Annotations</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="!vm.ontologies[vm.current.oi].classes[vm.current.ci].tab || vm.ontologies[vm.current.oi].classes[vm.current.ci].tab == 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- iri -->
                        <div ng-class="{ 'has-warning': vm.classForm.iri.$invalid || vm.isTaken() }" class="form-group">
                            <label class="control-label" for="class-iri">Identifier</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{vm.selected.prefix}}</div>
                                <input type="text" class="form-control" id="class-iri" name="iri" ng-model="vm.selected['@id']" ng-pattern="/^[^\s:\/#]+$/" ng-trim="false" ng-change="vm.unsaved();" required>
                            </div>
                            <strong ng-if="vm.classForm.iri.$error.required" class="help-block">Please enter something.</strong>
                            <strong ng-if="vm.isTaken()" class="help-block">The entered value is already used elsewhere.</strong>
                            <strong ng-if="vm.classForm.iri.$invalid && !vm.classForm.iri.$error.required" class="help-block">Please remove all whitespace, ':', '#', and '/' characters.</strong>
                        </div>
                        <!-- name -->
                        <div class="form-group">
                            <label class="control-label" for="class-name">{{vm.ontologies[vm.current.oi].rdfs}}label</label>
                            <input type="text" class="form-control" id="class-name" name="name" ng-model="vm.selected[vm.ontologies[vm.current.oi].rdfs + 'label']" ng-trim="false" ng-change="vm.unsaved();">
                        </div>
                        <!-- comments -->
                        <div class="form-group">
                            <label class="control-label" for="class-comments">{{vm.ontologies[vm.current.oi].rdfs}}comment</label>
                            <textarea class="form-control" id="class-comments" name="comments" ng-model="vm.selected[vm.ontologies[vm.current.oi].rdfs + 'comment']" ng-change="vm.unsaved();"></textarea>
                        </div>
                        <!-- buttons -->
                        <div ng-show="vm.ontologies[vm.current.oi].classes[vm.current.ci].tab != 'annotations'" class="btn-container clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.classForm.$invalid || vm.isTaken()">Save</button>
                            <!--button ng-if="vm.current.ci != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()" ng-disabled="vm.versions[vm.current.oi].length === 1">Undo</button-->
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.ontologies[vm.current.oi].classes[vm.current.ci].tab == 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>
                </form>

                <!-- property editor -->
                <form name="vm.propertyForm" class="clearfix" novalidate autocomplete="off"
                      ng-submit="vm.submit(vm.propertyForm.$valid)"
                      ng-show="vm.shown == 'property-editor'">

                    <!-- property editor tabs -->
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-primary"
                           ng-class="{'active': !vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab || vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab == 'basic'}"
                           ng-click="vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab = 'basic'"><small>Basic</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab == 'annotations'}"
                           ng-click="vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab = 'annotations'"><small>Annotations</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="!vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab || vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab == 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- iri -->
                        <div ng-class="{ 'has-warning': vm.propertyForm.iri.$invalid || vm.isTaken() }" class="form-group">
                            <label class="control-label" for="property-iri">Identifier</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{vm.selected.prefix}}</div>
                                <input type="text" class="form-control" id="property-iri" name="iri" ng-model="vm.selected['@id']" ng-pattern="/^[^\s:\/#]+$/" ng-trim="false" required ng-change="vm.unsaved();">
                            </div>
                            <strong ng-if="vm.propertyForm.iri.$error.required" class="help-block">Please enter something.</strong>
                            <strong ng-if="vm.isTaken()" class="help-block">The entered value is already used elsewhere.</strong>
                            <strong ng-if="vm.propertyForm.iri.$invalid && !vm.propertyForm.iri.$error.required" class="help-block">Please remove all whitespace, ':', '#', and '/' characters.</strong>
                        </div>
                        <!-- name -->
                        <div class="form-group">
                            <label class="control-label" for="property-name">{{vm.ontologies[vm.current.oi].rdfs}}label</label>
                            <input type="text" class="form-control" id="property-name" name="name" ng-model="vm.selected[vm.ontologies[vm.current.oi].rdfs + 'label']" ng-change="vm.unsaved();">
                        </div>
                        <!-- comments -->
                        <div class="form-group">
                            <label class="control-label" for="property-comments">{{vm.ontologies[vm.current.oi].rdfs}}comment</label>
                            <textarea class="form-control" id="property-comments" name="comments" ng-model="vm.selected[vm.ontologies[vm.current.oi].rdfs + 'comment']" ng-change="vm.unsaved();"></textarea>
                        </div>
                        <!-- buttons -->
                        <div ng-show="vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab != 'annotations'" class="btn-container clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.propertyForm.$invalid || vm.isTaken()">Save</button>
                            <!--button ng-if="vm.current.pi != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()" ng-disabled="vm.versions[vm.current.oi].length === 1">Undo</button-->
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.ontologies[vm.current.oi].classes[vm.current.ci].properties[vm.current.pi].tab == 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <!-- upload overlay -->
    <div class="overlay" ng-show="vm.showUploadOverlay">
        <!-- content container -->
        <form name="vm.uploadForm" class="content clearfix" action="rest/ontology/uploadOntology" method="post" enctype="multipart/form-data" novalidate>
            <h6>Upload Ontology</h6>
            <!-- file to upload -->
            <div class="form-group">
                <label for="file">Select a file</label>
                <input type="file" name="file" id="file" required />
            </div>
            <!-- namespace -->
            <div class="form-group">
                <label for="namespace">Namespace</label>
                <input class="form-control" type="text" name="namespace" id="namespace" required />
            </div>
            <!-- local name -->
            <div class="form-group">
                <label for="localName">Local Name</label>
                <input class="form-control" type="text" name="localName" id="localName" required />
            </div>
            <!-- buttons -->
            <div class="btn-container clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.uploadForm.$invalid">Upload It</button>
                <button type="button" class="btn btn-default pull-right" ng-click="vm.showUploadOverlay = false;">Cancel</button>
            </div>
        </form>
    </div>

    <!-- TODO: remove this before production since it is used for testing -->
    <!--div class="row">
        <div class="col-xs-6">
            <pre>{{vm.ontologies[vm.current.oi] | json}}</pre>
        </div>
        <div class="col-xs-6">
            <pre>{{vm.versions[vm.current.oi][vm.versions[vm.current.oi].length - 1].ontology | json}}</pre>
        </div>
    </div-->
    <!--pre>{{vm.selected | json}}</pre-->
</div>
