<!-- ontology-editor.html -->
<div class="ontology-editor clearfix" ng-controller="OntologyEditorController as vm">
    <div class="row">
        <!-- navigation structure -->
        <aside class="col-xs-4">
            <div class="tree-container boxed">
                <!-- tab view -->
                <div class="btn-group btn-group-justified" role="group">
                    <!-- everything tree tab -->
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.state.tab === 'everything'}"
                       ng-click="vm.setTreeTab('everything');"><small>Tree</small></a>

                    <!-- class tree tab -->
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.state.tab === 'class'}"
                       ng-click="vm.setTreeTab('class');"><small>Class</small></a>

                    <!-- object property tree tab -->
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.state.tab === 'object'}"
                       ng-click="vm.setTreeTab('object');"><small>Object</small></a>

                    <!-- datatype property tree tab -->
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.state.tab === 'datatype'}"
                       ng-click="vm.setTreeTab('datatype');"><small>Data</small></a>
                </div>

                <!-- tree showing ontologies, classes, and properties -->
                <div ng-if="vm.state.tab === 'everything'" class="tree everything-tree scroll-without-buttons">
                    <!-- tree view -->
                    <strong>Everything</strong>
                    <!-- start ontologies -->
                    <ul ng-repeat="(oi, ontology) in vm.ontologies" ng-init="opened = (vm.state.oi === oi && vm.state.ci !== undefined)">
                        <li>
                            <a ng-click="vm.selectItem('ontology-editor', $index)"
                               ng-class="{'unsaved': ontology.matonto.unsaved, 'active': vm.state.oi === $index && vm.state.ci === undefined && vm.state.pi === undefined}">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                   ng-click="opened = !opened; $event.stopPropagation();"
                                ></i>{{ontology[ontology.matonto.rdfs + 'label'][0]['@value'] || ontology['@id'] + ontology['delimiter']}}
                                <i ng-show="ontology.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- start classes -->
                            <ul ng-repeat="(ci, class) in ontology.matonto.classes" ng-init="subOpened = (vm.state.ci === ci && vm.state.pi !== undefined)">
                                <li>
                                    <a ng-click="vm.selectItem('class-editor', oi, $index)"
                                       ng-class="{'unsaved': class.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === $index && vm.state.pi === undefined}">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-minus-square-o': subOpened, 'fa-plus-square-o': !subOpened}"
                                           ng-click="subOpened = !subOpened; $event.stopPropagation();"
                                        ></i>{{class[ontology.matonto.rdfs + 'label'][0]['@value'] || class['@id']}}
                                        <i ng-show="class.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                                <li class="container" ng-show="subOpened">
                                    <!-- start properties -->
                                    <ul>
                                        <li ng-repeat="property in class.matonto.properties">
                                            <a ng-click="vm.selectItem('property-editor', oi, ci, $index)"
                                               ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === $index}">
                                                <i class="fa fa-fw {{property.matonto.icon}}"
                                                ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                                <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="creator">
                                        <a ng-click="vm.selectItem('property-editor', oi, ci, -1)"
                                           ng-class="{'active': vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === -1}">
                                            <i class="fa fa-plus fa-fw"></i>New Property
                                        </a>
                                    </div>
                                    <!-- end properties -->
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.selectItem('class-editor', oi, -1)"
                                   ng-class="{'active': vm.state.oi === oi && vm.state.ci === -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                            <!-- end classes -->

                            <!-- start no domains -->
                            <ul ng-if="ontology.matonto.noDomains.length">
                                <li>
                                    <a ng-click="noDomains = !noDomains; $event.stopPropagation();">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-folder-open-o': noDomains, 'fa-folder-o': !noDomains}"></i>Properties
                                    </a>
                                </li>
                                <li class="container" ng-show="noDomains">
                                    <ul>
                                        <li ng-repeat="property in ontology.matonto.noDomains">
                                            <a ng-click="vm.selectItem('property-editor', oi, undefined, $index)"
                                               ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === undefined && vm.state.pi === $index}">
                                                <i class="fa fa-fw {{property.icon}}"
                                                ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                                <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end no domains -->

                            <!-- start others -->
                            <ul ng-if="ontology.matonto.others.length">
                                <li>
                                    <a ng-click="theOthers = !theOthers; $event.stopPropagation();">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-folder-open-o': theOthers, 'fa-folder-o': !theOthers}"></i>Others
                                    </a>
                                </li>
                                <li class="container" ng-show="theOthers">
                                    <ul ng-repeat="other in ontology.matonto.others">
                                        <a>
                                            <i class="fa fa-fw fa-question"></i>{{other[ontology.matonto.rdfs + 'label'][0]['@value'] || other['@id']}}
                                        </a>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end others -->
                        </li>
                    </ul>
                    <div class="creator">
                        <a ng-click="vm.selectItem('ontology-editor', -1)"
                           ng-class="{'active': vm.state.oi === -1}">
                            <i class="fa fa-plus fa-fw"></i>Create New Ontology
                        </a>
                        <a ng-click="vm.showUploadOverlay = true;"
                           ng-class="{'active': vm.showUploadOverlay}">
                            <i class="fa fa-upload fa-fw"></i>Upload Ontology
                        </a>
                        <a ng-click="vm.deleteOntology();"
                           ng-class="{'disabled': vm.state.editor !== 'ontology-editor' || vm.state.oi === -1}">
                            <i class="fa fa-trash-o fa-fw"></i>Delete Ontology
                        </a>
                    </div>
                    <!-- end ontologies -->
                </div>

                <!-- tree showing classes -->
                <div ng-if="vm.state.tab === 'class'" class="tree class-tree scroll-without-buttons">
                    <!-- class view -->
                    <strong>Classes</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies" ng-init="opened = (vm.state.oi === oi)">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                        ></i>{{ontology[ontology.matonto.rdfs + 'label'][0]['@value'] || ontology['@id'] + ontology.delimiter}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <ul>
                                <li ng-repeat="class in ontology.matonto.classes">
                                    <a class="text-only"
                                       ng-click="vm.selectItem('class-editor', oi, $index)"
                                       ng-class="{'unsaved': class.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === $index && vm.state.pi === undefined}">
                                        {{class[ontology.matonto.rdfs + 'label'][0]['@value'] || class['@id']}}
                                        <i ng-show="class.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.selectItem('class-editor', oi, -1)"
                                   ng-class="{'active': vm.state.oi === oi && vm.state.ci === -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing object properties -->
                <div ng-if="vm.state.tab === 'object'" class="tree object-tree scroll-without-buttons">
                    <!-- property view -->
                    <strong>Object Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies" ng-init="opened = (vm.state.oi === oi)">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"></i>{{ontology[ontology.matonto.rdfs + 'label'][0]['@value'] || ontology['@id'] + ontology.delimiter}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- properties associated with classes -->
                            <ul ng-repeat="(ci, class) in ontology.matonto.classes">
                                <li ng-repeat="property in class.matonto.properties" ng-if="property['@type'] === ontology.matonto.owl + 'ObjectProperty'">
                                    <a class="text-only"
                                       ng-click="vm.selectItem('property-editor', oi, ci, $index)"
                                       ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === $index}">
                                        <i class="fa fa-fw {{property.matonto.icon}}"
                                        ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                        <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- properties not associated with classes -->
                            <ul>
                                <li ng-repeat="property in ontology.noDomains" ng-if="property['@type'] === ontology.matonto.owl + 'ObjectProperty'">
                                    <a class="text-only"
                                       ng-click="vm.selectItem('property-editor', oi, undefined, $index)"
                                       ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === undefined && vm.state.pi === $index}">
                                        <i class="fa fa-fw {{property.matonto.icon}}"
                                        ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                        <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.selectItem('property-editor', oi, -1, -1)"
                                   ng-class="{'active': vm.state.oi === oi && vm.state.ci === -1 && vm.state.pi === -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Object Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing dataType properties -->
                <div ng-if="vm.state.tab === 'datatype'" class="tree datatype-tree scroll-without-buttons">
                    <!-- property view -->
                    <strong>DataType Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies" ng-init="opened = (vm.state.oi === oi)">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                ></i>{{ontology[ontology.matonto.rdfs + 'label'][0]['@value'] || ontology['@id'] + ontology.delimiter}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- properties associated with classes -->
                            <ul ng-repeat="(ci, class) in ontology.matonto.classes">
                                <li ng-repeat="property in class.matonto.properties" ng-if="property['@type'] === ontology.matonto.owl + 'DataTypeProperty' || property['@type'] === ontology.matonto.owl + 'DatatypeProperty'">
                                    <a class="text-only"
                                       ng-click="vm.selectItem('property-editor', oi, ci, $index);"
                                       ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === $index}">
                                        <i class="fa fa-fw {{property.matonto.icon}}"
                                        ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                        <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- properties not associated with classes -->
                            <ul>
                                <li ng-repeat="property in ontology.matonto.noDomains" ng-if="property['@type'] === ontology.matonto.owl + 'DataTypeProperty' || property['@type'] === ontology.matonto.owl + 'DatatypeProperty'">
                                    <a class="text-only"
                                       ng-click="vm.selectItem('property-editor', oi, undefined, $index)"
                                       ng-class="{'unsaved': property.matonto.unsaved, 'active': vm.state.oi === oi && vm.state.ci === undefined && vm.state.pi === $index}">
                                        <i class="fa fa-fw {{property.matonto.icon}}"
                                        ></i>{{property[ontology.matonto.rdfs + 'label'][0]['@value'] || property['@id']}}
                                        <i ng-show="property.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.selectItem('property-editor', oi, -1, -1)"
                                   ng-class="{'active': vm.state['datatype'].selected === 'create-property' && vm.state['datatype'].class === class}">
                                    <i class="fa fa-plus fa-fw"></i>New DataType Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <!-- edit/create form section -->
        <section class="col-xs-8">
            <div class="editor boxed">
                <!-- default -->
                <div ng-if="vm.state.editor === 'default'" class="tab default">
                    <p class="lead">Welcome to the Ontology Editor!</p>
                    <p>Click an item in the left pane to get started. This pane will then update accordingly.</p>
                </div>

                <!-- ontology editor -->
                <form name="vm.ontologyForm" class="clearfix" novalidate autocomplete="off"
                      ng-if="vm.state.editor === 'ontology-editor'">

                    <!-- tab toggles -->
                    <div class="btn-group btn-group-justified" role="group">
                        <!-- basic button -->
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'basic'}"
                           ng-click="vm.setEditorTab('basic');"><small>{{vm.selected['@id'] ? (vm.selected[vm.selected.matonto.rdfs + 'label'][0]['@value'] || vm.selected['@id']) : 'New Ontology'}}</small></a>

                        <!-- annotations button -->
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'annotations'}"
                           ng-click="vm.setEditorTab('annotations');"><small>Annotations</small></a>

                        <!-- prefix button -->
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'prefix'}"
                           ng-click="vm.setEditorTab('prefix');"><small>Prefix</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="vm.state.editorTab === 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.matonto.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- identifier and delimiter -->
                        <div class="row">
                            <!-- IRI -->
                            <div class="form-group col-xs-9">
                                <label class="control-label" for="ontology-iri">IRI</label>
                                <input type="text" class="form-control" id="ontology-iri" name="iri" ng-model="vm.selected['@id']" ng-trim="false" ng-change="vm.selected.matonto.unsaved = true;">
                            </div>

                            <!-- delimiter -->
                            <div class="form-group col-xs-3">
                                <label class="control-label" for="ontology-delimiter">Delimiter</label>
                                <select class="form-control" id="ontology-delimiter" ng-model="vm.selected.matonto.delimiter" ng-change="vm.selected.matonto.unsaved = true;">
                                    <option value="#">#</option>
                                    <option value="/">/</option>
                                    <option value=":">:</option>
                                </select>
                            </div>
                        </div>

                        <!-- label -->
                        <div class="form-group">
                            <label class="control-label" for="ontology-label">Label <small class="text-muted"><{{vm.selected.matonto.rdfs}}label></small></label>
                            <input type="text" class="form-control" id="ontology-label" name="label" ng-model="vm.selected[((vm.state.oi !== -1) ? vm.ontologies[vm.state.oi].matonto.rdfs : vm.selected.matonto.rdfs) + 'label'][0]['@value']" ng-trim="false" ng-change="vm.selected.matonto.unsaved = true;">
                        </div>

                        <!-- comments -->
                        <div class="form-group">
                            <label class="control-label" for="ontology-comments">Comment <small class="text-muted"><{{vm.selected.matonto.rdfs}}comment></small></label>
                            <textarea class="form-control" id="ontology-comments" name="comments" ng-model="vm.selected[((vm.state.oi !== -1) ? vm.ontologies[vm.state.oi].matonto.rdfs : vm.selected.matonto.rdfs) + 'comment'][0]['@value']" ng-change="vm.selected.matonto.unsaved = true;"></textarea>
                        </div>

                        <!-- buttons -->
                        <div class="btn-container clearfix">
                            <button ng-if="vm.state.oi !== -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.ontologyForm.$invalid" ng-click="vm.submitEdit(vm.ontologyForm.$valid)"><i class="fa fa-floppy-o"></i> Save</button>
                            <button ng-if="vm.state.oi === -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.ontologyForm.$invalid" ng-click="vm.submitCreate(vm.ontologyForm.$valid)"><i class="fa fa-plus-circle"></i> Create</button>
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.state.editorTab === 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>

                    <!-- prefix tab -->
                    <div ng-show="vm.state.editorTab === 'prefix'" class="tab clearfix">
                        <!-- prefixes -->
                        <table class="table table-bordered input-table">
                            <thead>
                                <tr>
                                    <th class="prefix-col">Prefix</th>
                                    <th>Value</th>
                                    <th class="action-button"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.selected.matonto.context track by $index">
                                    <td>
                                        <input id="prefix-{{$index}}" type="text" value="{{item.key}}" ng-readonly="!editKey" />
                                        <button type="button" class="btn btn-link edit" ng-click="vm.editPrefix(editKey, item.key, $index); editKey = !editKey;">
                                            <i class="fa fa-pencil" ng-class="{'fa-pencil': !editKey, 'fa-floppy-o': editKey}"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <input id="value-{{$index}}" type="text" value="{{item.value}}" ng-readonly="!editValue" />
                                        <button type="button" class="btn btn-link edit" ng-click="vm.editValue(editValue, item.key, item.value, $index); editValue = !editValue;">
                                            <i class="fa fa-pencil" ng-class="{'fa-pencil': !editValue, 'fa-floppy-o': editValue}"></i>
                                        </button>
                                    </td>
                                    <td class="action-button">
                                        <button type="button" class="btn btn-link remove" ng-click="vm.removePrefix(item.key)"><i class="fa fa-minus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" ng-model="vm.key" placeholder="Enter new prefix..." />
                                    </td>
                                    <td>
                                        <input type="text" ng-model="vm.value" placeholder="Enter new value..." />
                                    </td>
                                    <td class="action-button">
                                        <button type="button" class="btn btn-link add" ng-disabled="!vm.key || !vm.value" ng-click="vm.addPrefix(vm.key, vm.value); vm.key = ''; vm.value = '';"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- error messages for empty or unique -->
                        <div class="has-warning clearfix" ng-if="vm.showDuplicateMessage || vm.showEmptyMessage">
                            <strong ng-if="vm.showDuplicateMessage" class="help-block">Both prefix and value must be unique.</strong>
                            <strong ng-if="vm.showEmptyMessage" class="help-block">Both prefix and value must be provided.</strong>
                        </div>
                    </div>
                </form>

                <!-- class editor -->
                <form name="vm.classForm" class="clearfix" novalidate autocomplete="off"
                      ng-if="vm.state.editor === 'class-editor'">

                    <!-- class editor tabs -->
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'basic'}"
                           ng-click="vm.setEditorTab('basic');"><small>{{vm.selected['@id'] ? (vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'label'][0]['@value'] || vm.selected['@id']) : 'New Class'}}</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'annotations'}"
                           ng-click="vm.setEditorTab('annotations');"><small>Annotations</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="vm.state.editorTab === 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.matonto.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- iri -->
                        <div ng-class="{ 'has-warning': vm.classForm.iri.$invalid }" class="form-group">
                            <label class="control-label" for="class-iri">Local Name</label>
                            <input type="text" class="form-control" id="class-iri" name="iri" ng-model="vm.selected['@id']" ng-trim="false" ng-change="vm.selected.matonto.unsaved = true;" required>
                            <strong ng-if="vm.classForm.iri.$error.required" class="help-block">Please enter something.</strong>
                            <!--strong ng-if="vm.isTaken()" class="help-block">The entered value is already used elsewhere.</strong-->
                            <!--strong ng-if="vm.classForm.iri.$invalid && !vm.classForm.iri.$error.required" class="help-block">Please remove all whitespace, ':', '#', and '/' characters.</strong-->
                        </div>

                        <!-- rdfs:subClassOf -->
                        <div class="form-group">
                            <label class="control-label">Sub Class Of <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}subClassOf></small></label>
                            <tags-input ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'subClassOf']" display-property="@id" add-from-autocomplete-only="true" placeholder="Add a Class">
                                <!--auto-complete source="vm.getClasses($query);"></auto-complete-->
                            </tags-input>
                        </div>

                        <!-- rdfs:label -->
                        <div class="form-group">
                            <label class="control-label" for="class-name">Label <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}label></small></label>
                            <input type="text" class="form-control" id="class-name" name="name" ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'label'][0]['@value']" ng-trim="false" ng-change="vm.selected.matonto.unsaved = true;">
                        </div>

                        <!-- rdfs:comment -->
                        <div class="form-group">
                            <label class="control-label" for="class-comments">Comment <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}comment></small></label>
                            <textarea class="form-control" id="class-comments" name="comments" ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'comment'][0]['@value']" ng-change="vm.selected.matonto.unsaved = true;"></textarea>
                        </div>

                        <!-- buttons -->
                        <div ng-show="vm.ontologies[vm.state.oi].classes[vm.state.ci].tab !== 'annotations'" class="btn-container clearfix">
                            <button ng-if="vm.state.ci !== -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.classForm.$invalid" ng-click="vm.submitEdit(vm.classForm.$valid)"><i class="fa fa-floppy-o"></i> Save</button>
                            <button ng-if="vm.state.ci === -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.classForm.$invalid" ng-click="vm.submitCreate(vm.classForm.$valid)"><i class="fa fa-plus-circle"></i> Create</button>
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.state.editorTab === 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>
                </form>

                <!-- property editor -->
                <form name="vm.propertyForm" class="clearfix" novalidate autocomplete="off"
                      ng-if="vm.state.editor === 'property-editor'">

                    <!-- property editor tabs -->
                    <div class="btn-group btn-group-justified" role="group">
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'basic'}"
                           ng-click="vm.setEditorTab('basic');"><small>{{vm.selected['@id'] ? (vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'label'][0]['@value'] || vm.selected['@id']) : 'New Property'}}</small></a>
                        <a class="btn btn-primary"
                           ng-class="{'active': vm.state.editorTab === 'annotations'}"
                           ng-click="vm.setEditorTab('annotations');"><small>Annotations</small></a>
                    </div>

                    <!-- basic tab -->
                    <div ng-show="vm.state.editorTab === 'basic'" class="tab clearfix">
                        <!-- warning message -->
                        <p ng-show="vm.selected.matonto.unsaved" class="text-warning"><i class="fa fa-exclamation-triangle fa-fw"></i>Not saved</p>

                        <!-- iri -->
                        <div ng-class="{ 'has-warning': vm.propertyForm.iri.$invalid }" class="form-group">
                            <label class="control-label" for="property-iri">Local Name</label>
                            <input type="text" class="form-control" id="property-iri" name="iri" ng-model="vm.selected['@id']" ng-trim="false" required ng-change="vm.selected.matonto.unsaved = true;">
                            <strong ng-if="vm.propertyForm.iri.$error.required" class="help-block">Please enter something.</strong>
                            <!--strong ng-if="vm.isTaken()" class="help-block">The entered value is already used elsewhere.</strong-->
                            <!--strong ng-if="vm.propertyForm.iri.$invalid && !vm.propertyForm.iri.$error.required" class="help-block">Please remove all whitespace, ':', '#', and '/' characters.</strong-->
                        </div>

                        <!-- rdfs:subPropertyOf -->
                        <div class="form-group">
                            <label class="control-label">Sub Property Of <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}subPropertyOf></small></label>
                            <tags-input ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'subPropertyOf']" display-property="@id">
                                <!--auto-complete></auto-complete-->
                            </tags-input>
                        </div>

                        <!-- rdfs:domain -->
                        <div class="form-group">
                            <label class="control-label">Domain <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}domain></small></label>
                            <tags-input ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'domain']" display-property="@id">
                                <!--auto-complete></auto-complete-->
                            </tags-input>
                        </div>

                        <!-- rdfs:range -->
                        <div class="form-group">
                            <label class="control-label">Range <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}range></small></label>
                            <tags-input ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'range']" display-property="@id">
                                <!--auto-complete></auto-complete-->
                            </tags-input>
                        </div>

                        <!-- rdfs:label -->
                        <div class="form-group">
                            <label class="control-label" for="property-name">Label <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}label></small></label>
                            <input type="text" class="form-control" id="property-name" name="name" ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'label'][0]['@value']" ng-change="vm.selected.matonto.unsaved = true;">
                        </div>

                        <!-- rdfs:comment -->
                        <div class="form-group">
                            <label class="control-label" for="property-comments">Comment <small class="text-muted"><{{vm.ontologies[vm.state.oi].matonto.rdfs}}comment></small></label>
                            <textarea class="form-control" id="property-comments" name="comments" ng-model="vm.selected[vm.ontologies[vm.state.oi].matonto.rdfs + 'comment'][0]['@value']" ng-change="vm.selected.matonto.unsaved = true;"></textarea>
                        </div>

                        <!-- buttons -->
                        <div class="btn-container clearfix">
                            <button ng-if="vm.state.pi !== -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.propertyForm.$invalid" ng-click="vm.submitEdit(vm.propertyForm.$valid)"><i class="fa fa-floppy-o"></i> Save</button>
                            <button ng-if="vm.state.pi === -1" type="button" class="btn btn-primary pull-right" ng-disabled="vm.propertyForm.$invalid" ng-click="vm.submitCreate(vm.propertyForm.$valid)"><i class="fa fa-plus-circle"></i> Create</button>
                        </div>
                    </div>

                    <!-- annotations tab -->
                    <div ng-show="vm.state.editorTab === 'annotations'" class="tab clearfix">
                        <div ng-include="'annotations-template'"></div>
                    </div>
                </form>

                <!-- upload ontology overlay -->
                <div class="overlay sm" ng-if="vm.showUploadOverlay">
                    <form name="vm.uploadForm" class="content clearfix" novalidate autocomplete="off"
                          ng-submit="vm.uploadOntology(vm.uploadForm.$valid, vm.upload.file, vm.upload.namespace, vm.upload.localName);">
                        <!-- section header -->
                        <h6>Upload Ontology</h6>
                        <p class="text-danger" ng-show="vm.uploadError">
                            <i class="fa fa-exclamation-triangle fa-fw"></i>{{vm.uploadError}}
                        </p>
                        <!-- file to upload -->
                        <div class="form-group">
                            <label for="file">Select a file</label>
                            <div id="file" name="file" file-input="vm.upload.file"></div>
                        </div>
                        <!-- buttons -->
                        <div class="btn-container clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="!vm.upload.file" ng-click="vm.uploadError = false;"><i class="fa fa-upload fa-fw"></i>Upload It</button>
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.showUploadOverlay = false; vm.uploadError = false;">Cancel</button>
                        </div>
                    </form>
                </div>

                <!-- annotation overlay -->
                <div class="overlay" ng-if="vm.showAnnotationOverlay">
                    <form name="vm.annotationForm" class="content clearfix" novalidate autocomplete="off"
                          ng-submit="">
                        <!-- section header -->
                        <h6>Add Annotation</h6>

                        <!-- annotation list -->
                        <div class="form-group" ng-if="!vm.editingAnnotation">
                            <label class="control-label">Annotation</label>
                            <select class="form-control"  id="ontology-annotation-list" name="annotation-list" ng-model="vm.selected.matonto.currentAnnotationSelect">
                                <option value="default">Please select an annotation to add</option>
                                <!--optgroup ng-repeat="key in (vm.ontologies[vm.state.oi].matonto.annotations | hideAnnotations:vm.selected)" label="{{key}}">
                                    <option ng-repeat="item in vm.ontologies[vm.state.oi].matonto.annotations[key]" ng-if="!vm.selected[key + item]" value="{{key + item}}">{{item}}</option>
                                </optgroup-->
                                <optgroup ng-repeat="(key, value) in vm.ontologies[vm.state.oi].matonto.annotations" label="{{key}}">
                                    <option ng-repeat="item in value" value="{{key + item}}">{{item}}</option>
                                </optgroup>
                                <option value="other">Add a new annotation</option>
                            </select>
                        </div>

                        <!-- key, if new -->
                        <div ng-if="vm.selected.matonto.currentAnnotationSelect === 'other' || vm.editingAnnotation" class="form-group">
                            <label class="control-label" for="ontology-annotation-key">Name <small class="text-muted">*Must be a valid IRI or you won't be able to add it.</small></label>
                            <input type="text" class="form-control" id="ontology-annotation-key" name="annotation-key" ng-model="vm.selected.matonto.currentAnnotationKey" ng-pattern="vm.getPattern()" ng-disabled="vm.editingAnnotation" required />
                        </div>

                        <!-- value -->
                        <div class="form-group">
                            <label class="control-label" for="ontology-annotation-value">Value</label>
                            <textarea class="form-control" id="ontology-annotation-value" name="annotation-value" ng-model="vm.selected.matonto.currentAnnotationValue" required></textarea>
                        </div>

                        <!-- TODO: add a section here for comments -->
                        <!-- annotation buttons -->
                        <div class="btn-container clearfix">
                            <!-- adding a custom one -->
                            <button ng-if="!vm.editingAnnotation" type="button" class="btn btn-primary pull-right"
                                    ng-disabled="vm.annotationForm.$invalid || vm.selected.matonto.currentAnnotationSelect === 'default'"
                                    ng-click="vm.addAnnotation();"><i class="fa fa-plus fa-fw"></i>Add annotation</button>

                            <button ng-if="vm.editingAnnotation" type="button" class="btn btn-primary pull-right"
                                    ng-disabled="vm.annotationForm.$invalid"
                                    ng-click="vm.editAnnotation();"><i class="fa fa-pencil fa-fw"></i>Edit annotation</button>

                            <button type="button" class="btn btn-default pull-right" ng-click="vm.showAnnotationOverlay = false;">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </div>
</div>

<!-- annotation template -->
<script type="text/ng-template" id="annotations-template">
    <!-- add annotation button -->
    <a class="btn btn-link btn-annotation" ng-click="vm.editingAnnotation = false; vm.showAnnotationOverlay = true;"><i class="fa fa-fw fa-plus"></i>Add Annotation</a>

    <!-- list of annotations -->
    <div class="annotation" ng-repeat="key in (vm.selected | showAnnotations:(vm.selected.matonto.annotations || vm.ontologies[vm.state.oi].matonto.annotations)) track by $index">
        <h5 title="{{key}}">{{key | removeNamespace | beautify}}</h5>
        <div class="value-container" ng-repeat="value in vm.selected[key]">
            <p>{{value['@value']}}</p>
            <button type="button" class="btn btn-link btn-edit" ng-click="vm.editClicked(key, $index);" title="Edit"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-link btn-delete" ng-click="vm.removeAnnotation(key, $index)" title="Delete"><i class="fa fa-times"></i></button>
        </div>
    </div>
</script>
