/* Core variables */
@import "./src/main/resources/public/css/vendor/bootstrap/variables";

.ontology-editor {
    /* aligns the buttons with the box corners */
    .btn-group-justified {
        z-index: 1;
    }

    /* removes the rounded corners so it fits in the box provided */
    .btn-group > .btn {
        border-radius: 0;
    }

    /* Styles for the right side of the page */
    .editor {
        height: 100%;

        /* Pads the outside of the tab elements */
        .tab {
            padding: 15px;

            /* if the buttons being shown are inside the tab, remove the left and right padding */
            .btn-container {
                padding: 0 0 15px;
            }
        }

        /* Styles the header for each of the editing panels */
        h4 {
            background-color: $brand-primary;
            color: #fff;
            margin: -16px -16px 10px;
            padding: 10px 16px 10px;

            small {
                color: inherit;
            }
        }

        /* Stops the user from resizing the textarea */
        form {
            height: 100%;

            /* styles for scrollable tab */
            .tab {
                height: 100%;
                margin-top: -33px;
                overflow-y: auto;
                padding: 48px 15px 15px;
                z-index: -1;
            }

            textarea {
                resize: none;
            }
        }

        /* Adds the alignment for the table error message */
        .table-warning {
            margin-top: -20px;
        }

        /* Matches the padding with the rest of the page */
        .btn-container {
            padding: 0 15px 15px;
        }

        /* Annotation styles */
        .annotation {
            padding-right: 30px;
            position: relative;

            /* Places the button in the top right corner */
            button {
                padding: 5px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}
