/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-editor {
    background-color: $gray-lighter;
    height: 100%;
}

.overlay .error-text:before {
    content: '\f071';
    font-family: FontAwesome;
}
.overlay .error-text {
    color: red;
    font-size: .75em;
}