/* Core variables */
@import "./src/main/resources/public/css/variables";

.upload-ontology-tab {
    display: flex;
    flex-direction: column;
    height: 100%;

    .form-container {
        flex: 1;
        min-height: 0;
        padding: 15px 0;

        form {
            padding: 30px;

            md-list-item {
                border-bottom: 1px solid $gray-light;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: $gray-lighter;
                }

                .fa {
                    margin-right: 5px;

                    &.fa-times {
                        color: $brand-danger;
                    }

                    &.fa-check {
                        color: $brand-success;
                    }
                }
            }
        }

        .block-footer {
            border: none;
        }
    }
}