/* Core variables */
@import "./src/main/resources/public/css/variables";

.upload-ontology-tab {
    .list-container {
        flex: 1;
    }
    md-list {
        md-list-item {
            border-bottom: 1px solid var(--light);
            min-height: 50px;

            &:before {
                min-height: 50px;
            }
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: var(--light);
            }
            .fa {
                font-size: 1.5em;
                margin: auto 5px auto 0;

                &.fa-check {
                    color: var(--success);
                }
            }
            .fa.fa-times,
            p {
                color: var(--danger);
            }
            p {
                line-height: 1;
            }
        }
    }
}