/* Core variables */
@import "./src/main/resources/public/css/variables";

.sparql-results {
    height: 100%;
    position: relative;

    .table {
        margin: 0;
    }

    .message {
        margin: 10px;
    }

    .paging-details {
        bottom: 15px;
        left: 0;
        padding: 0 30px;
        width: 100%;

        .page-count {
            float: left;
            font-size: 1.125em;
            line-height: 34px;
            margin: 0;
        }

        .page-nav {
            float: right;

            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}