/* Core variables */
@import "./src/main/resources/public/css/variables";

$circle-size: 40px;

.step-progress-bar {
    padding: 0 15px;
    margin-top: $circle-size/2;
    margin-bottom: $circle-size/2;

    .progress {
        .step {
            position: absolute;
            margin-top: -10px;
            z-index: 1;
            height: $circle-size;
            width: $circle-size;
            border-radius: 25px;
            background-color: inherit;

            span {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .completed {
            background-color: $btn-bg;
        }
    }
}