<!-- ontology-editor.html -->
<div class="ontology-editor clearfix" ng-controller="OntologyEditorController as vm">
    <div class="row">
        <!-- navigation structure -->
        <aside class="col-md-3 col-sm-4 col-xs-6">
            <div class="tree-container">
                <!-- tab view -->
                <div class="btn-group btn-group-justified" role="group">
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'everything'}"
                       ng-click="vm.changeTab('everything');"><small>Tree</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'class'}"
                       ng-click="vm.changeTab('class');"><small>Class</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'object'}"
                       ng-click="vm.changeTab('object');"><small>Object</small></a>
                    <a class="btn btn-primary"
                       ng-class="{'active': vm.tab == 'datatype'}"
                       ng-click="vm.changeTab('datatype');"><small>Data</small></a>
                </div>

                <!-- tree showing ontologies, classes, and properties -->
                <div ng-show="vm.tab == 'everything'" class="tree everything-tree">
                    <!-- tree view -->
                    <strong>Everything</strong>
                    <!-- start ontologies -->
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="vm.edit($index)"
                               ng-class="{'active': vm.current.oi == $index && vm.current.ci == undefined}">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                   ng-click="opened = !opened; $event.stopPropagation();"></i>{{ontology['rdfs:label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <!-- start classes -->
                            <ul ng-repeat="(ci, class) in ontology.classes">
                                <li>
                                    <a ng-click="vm.edit(oi, $index)"
                                       ng-class="{'active': vm.current.oi == oi && vm.current.ci == $index && vm.current.pi == undefined}">
                                        <i class="fa fa-fw"
                                           ng-class="{'fa-minus-square-o': subOpened, 'fa-plus-square-o': !subOpened}"
                                           ng-click="subOpened = !subOpened; $event.stopPropagation();"></i>{{class['rdfs:label'] || class['@id']}}
                                    </a>
                                </li>
                                <li class="container" ng-show="subOpened">
                                    <!-- start properties -->
                                    <ul ng-repeat="property in class.properties">
                                        <li>
                                            <a ng-click="vm.edit(oi, ci, $index)"
                                               ng-class="{'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                                <i class="fa fa-font fa-fw"></i>{{property['rdfs:label'] || property['@id']}}
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="creator">
                                        <a ng-click="vm.edit(oi, ci, -1)"
                                           ng-class="{'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == -1}">
                                            <i class="fa fa-plus fa-fw"></i>New Property
                                        </a>
                                    </div>
                                    <!-- end properties -->
                                </li>
                            </ul>
                            <div class="creator">
                                <a ng-click="vm.edit(oi, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                            <!-- end classes -->
                        </li>
                    </ul>
                    <div class="creator">
                        <a ng-click="vm.edit(-1)"
                           ng-class="{'active': vm.current.oi == -1}">
                            <i class="fa fa-plus fa-fw"></i>New Ontology
                        </a>
                    </div>
                    <!-- end ontologies -->
                </div>

                <!-- tree showing classes -->
                <div ng-show="vm.tab == 'class'" class="tree class-tree">
                    <!-- class view -->
                    <strong>Classes</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                        ></i>{{ontology['rdfs:label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <ul><!--
                                --><li ng-repeat="class in ontology.classes">
                                <a class="text-only"
                                   ng-click="vm.edit(oi, $index)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == $index && vm.current.pi == undefined}">
                                    {{class['rdfs:label'] || class['@id']}}
                                </a>
                            </li><!--
                            --></ul>
                            <div class="creator">
                                <a ng-click="vm.edit(oi, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Class
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing object properties -->
                <div ng-show="vm.tab == 'object'" class="tree object-tree">
                    <!-- property view -->
                    <strong>Object Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                        ></i>{{ontology['rdfs:label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <ul ng-repeat="(ci, class) in ontology.classes"><!--
                                --><li ng-repeat="property in class.properties" ng-if="property['@type'] == 'owl:ObjectProperty'">
                                <a class="text-only"
                                   ng-click="vm.edit(oi, ci, $index)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                    {{property['rdfs:label'] || property['@id']}}
                                </a>
                            </li><!--
                            --></ul>
                            <div class="creator">
                                <a ng-click="vm.createProperty(oi, -1, -1)"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == -1 && vm.current.pi == -1}">
                                    <i class="fa fa-plus fa-fw"></i>New Object Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- tree showing dataType properties -->
                <div ng-show="vm.tab == 'datatype'" class="tree datatype-tree">
                    <!-- property view -->
                    <strong>DataType Properties</strong>
                    <ul ng-repeat="(oi, ontology) in vm.ontologies">
                        <li>
                            <a ng-click="opened = !opened; $event.stopPropagation();">
                                <i class="fa fa-fw"
                                   ng-class="{'fa-minus-square-o': opened, 'fa-plus-square-o': !opened}"
                                        ></i>{{ontology['rdfs:label'] || ontology['@id']}}
                            </a>
                        </li>
                        <li class="container" ng-show="opened">
                            <ul ng-repeat="(ci, class) in ontology.classes"><!--
                                --><li ng-repeat="property in class.properties" ng-if="property['@type'] == 'owl:DataTypeProperty'">
                                <a class="text-only"
                                   ng-click="vm.edit(oi, ci, $index);"
                                   ng-class="{'active': vm.current.oi == oi && vm.current.ci == ci && vm.current.pi == $index}">
                                    {{property['rdfs:label'] || property['@id']}}
                                </a>
                            </li><!--
                            --></ul>
                            <div class="creator">
                                <a ng-click="vm.createProperty(ontology, ontology.classes[$index])"
                                   ng-class="{'active': vm.state['datatype'].selected == 'create-property' && vm.state['datatype'].class == class}">
                                    <i class="fa fa-plus fa-fw"></i>New DataType Property
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <!-- edit/create form section -->
        <section class="col-md-9 col-sm-8 col-xs-6">
            <div class="editor">
                <!-- default -->
                <div ng-show="vm.shown == 'default'">
                    <p class="lead">Welcome to the Ontology Editor!</p>
                    <p>You simply need to click the item in the left pane which you want to edit. This pane will then update accordingly.</p>
                </div>

                <!-- title -->
                <h4 ng-show="vm.shown != 'default'">{{vm.current}}</h4>

                <!-- success message -->
                <p ng-show="vm.success" class="text-success"><i class="fa fa-check fa-fw"></i>Success</p>

                <!-- ontology editor -->
                <form name="vm.ontologyForm" class="clearfix" novalidate
                      ng-submit="vm.submit(vm.ontologyForm.$valid)"
                      ng-show="vm.shown == 'ontology-editor'">
                    <div class="row">
                        <!-- identifier -->
                        <div class="form-group col-xs-9">
                            <label class="control-label" for="ontology-identifier">Identifier</label>
                            <input type="text" class="form-control" id="ontology-identifier" name="iri" ng-model="vm.selected.identifier" ng-trim="false">
                        </div>
                        <!-- delimiter -->
                        <div class="form-group col-xs-3">
                            <label class="control-label" for="ontology-delimiter">Delimiter</label>
                            <select class="form-control" id="ontology-delimiter" ng-model="vm.selected.delimiter">
                                <option value="#">#</option>
                                <option value="/">/</option>
                                <option value=":">:</option>
                            </select>
                        </div>
                    </div>
                    <!-- label -->
                    <div class="form-group">
                        <label class="control-label" for="ontology-label">Label</label>
                        <input type="text" class="form-control" id="ontology-label" name="label" ng-model="vm.selected['rdfs:label']" ng-trim="false">
                    </div>
                    <!-- comments -->
                    <div class="form-group">
                        <label class="control-label" for="ontology-comments">Comments</label>
                        <textarea class="form-control" id="ontology-comments" name="comments" ng-model="vm.selected['rdfs:comment']"></textarea>
                    </div>
                    <!-- prefixes -->
                    <table id="prefix-table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Prefix</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.selected.context track by $index">
                                <td><input type="text" value="{{key}}" ng-model="vm.selected.context[$index].key" /></td>
                                <td>
                                    <input type="text" value="{{value}}" ng-model="vm.selected.context[$index].value" />
                                    <button type="button" class="btn btn-link remove" ng-click="vm.removePrefix($index)"><i class="fa fa-minus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="text" ng-model="vm.newPrefix" placeholder="Enter new prefix..." /></td>
                                <td>
                                    <input type="text" ng-model="vm.newValue" placeholder="Enter new value..." />
                                    <button type="button" class="btn btn-link add" ng-click="vm.addPrefix()"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="has-warning table-warning clearfix" ng-if="vm.showDuplicateMessage || vm.showEmptyMessage">
                        <strong ng-if="vm.showDuplicateMessage" class="help-block">Both prefix and value must be unique.</strong>
                        <strong ng-if="vm.showEmptyMessage" class="help-block">Both prefix and value must be provided.</strong>
                    </div>
                    <!-- buttons -->
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.ontologyForm.$invalid">Save</button>
                        <button ng-if="vm.current.oi != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()">Undo</button>
                    </div>
                </form>

                <!-- class editor -->
                <form name="vm.classForm" class="clearfix" novalidate
                      ng-submit="vm.submitClass(vm.classForm.$valid)"
                      ng-show="vm.shown == 'class-editor'">
                    <!-- iri -->
                    <div ng-class="{ 'has-warning': vm.classForm.iri.$invalid }" class="form-group">
                        <label class="control-label" for="class-iri">Identifier</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{vm.selected.prefix}}</div>
                            <input type="text" class="form-control" id="class-iri" name="iri" ng-model="vm.selected['@id']" ng-pattern="/^[^\s:/#]+$/" ng-trim="false" required>
                        </div>
                        <strong ng-if="vm.classForm.iri.$error.required" class="help-block">Please enter something.</strong>
                        <strong ng-if="vm.classForm.iri.$invalid && !vm.classForm.iri.$error.required" class="help-block">Please remove all space, ':', '#', and '/' characters.</strong>
                    </div>
                    <!-- name -->
                    <div class="form-group">
                        <label class="control-label" for="class-name">Name</label>
                        <input type="text" class="form-control" id="class-name" name="name" ng-model="vm.selected['rdfs:label']" ng-trim="false">
                    </div>
                    <!-- TODO:add auto complete based on all classes available -->
                    <!-- base class -->
                    <!--div class="form-group">
                        <label class=control-label for="class-base">Base Class</label>
                        <input type="text" class="form-control" id="class-base" name="base" ng-model="vm.class.base">
                    </div-->
                    <!-- comments -->
                    <div class="form-group">
                        <label class="control-label" for="class-comments">Comments</label>
                        <textarea class="form-control" id="class-comments" name="comments" ng-model="vm.selected['rdfs:comment']"></textarea>
                    </div>
                    <!-- buttons -->
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.classForm.$invalid">Save</button>
                        <button ng-if="vm.current.ci != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()">Undo</button>
                    </div>
                </form>

                <!-- property editor -->
                <form name="vm.propertyForm" class="clearfix" novalidate
                      ng-submit="vm.submitProperty(vm.propertyForm.$valid)"
                      ng-show="vm.shown == 'property-editor'">
                    <!-- iri -->
                    <div ng-class="{ 'has-warning': vm.propertyForm.iri.$invalid }" class="form-group">
                        <label class="control-label" for="property-iri">Identifier</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{vm.selected.prefix}}</div>
                            <input type="text" class="form-control" id="property-iri" name="iri" ng-model="vm.selected['@id']" ng-pattern="/^[^\s:/#]+$/" ng-trim="false" required>
                        </div>
                        <strong ng-if="vm.propertyForm.iri.$error.required" class="help-block">Please enter something.</strong>
                        <strong ng-if="vm.propertyForm.iri.$invalid && !vm.propertyForm.iri.$error.required" class="help-block">Please remove all space, ':', '#', and '/' characters.</strong>
                    </div>
                    <!-- name -->
                    <div class="form-group">
                        <label class="control-label" for="property-name">Name</label>
                        <input type="text" class="form-control" id="property-name" name="name" ng-model="vm.selected['rdfs:label']">
                    </div>
                    <!-- comments -->
                    <div class="form-group">
                        <label class="control-label" for="property-comments">Comments</label>
                        <textarea class="form-control" id="property-comments" name="comments" ng-model="vm.selected['rdfs:comment']"></textarea>
                    </div>
                    <!-- TODO:figure out the property options -->
                    <!-- single or multi value property -->
                    <!--div class="radio">
                        <label class=control-label>
                            <input type="radio" name="value" ng-model="vm.property.value" value="single">
                            Single value
                        </label>
                    </div>
                    <div class="radio">
                        <label class=control-label>
                            <input type="radio" name="value" ng-model="vm.property.value" value="multi">
                            Multi value
                        </label>
                    </div-->
                    <!-- type -->
                    <!--div class="form-group">
                        <label class=control-label for="property-type">Type</label>
                        <select id="property-type" class="form-control" name="type" ng-model="vm.property.type">
                            <option value="Boolean">Boolean</option>
                            <option value="Date">Date</option>
                            <option value="DateTime">DateTime</option>
                            <option value="Double">Double</option>
                            <option value="Integer">Integer</option>
                            <option value="String">String</option>
                            <option value="Time">Time</option>
                        </select>
                    </div-->
                    <!-- buttons -->
                    <div class="btn-container">
                        <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.propertyForm.$invalid">Save</button>
                        <button ng-if="vm.current.pi != -1" type="button" class="btn btn-default pull-right" ng-click="vm.reset()">Undo</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!--div class="row">
        <div class="col-xs-6">
            <pre>{{vm.context | json}}</pre>
        </div>
        <div class="col-xs-6">
            <pre>{{vm.selected.context | json}}</pre>
        </div>
    </div-->
    <pre>{{vm.ontologies | json}}</pre>
</div>
