/* Core variables */
@import "./src/main/resources/public/css/variables";

.sparql {
    background-color: $gray-lighter;
    height: 100%;

    > .tabset > .tabset-headings {
        background-color: $highlight-blue;
    }

    .row {
        display: flex;
        flex-direction: column;

        .block-container {
            flex: 1;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}