/* Core variables */
@import "./src/main/resources/public/css/variables";

.datasets-list {
    flex: 1;
    min-height: 0;
    margin: 0;
    padding: 15px 0;

    .col-8 {
        display: flex;
        flex-direction: column;
    }
    .dataset {
        border-bottom: 1px solid $gray-lighter;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: $gray-lighter;
        }
        .record-keywords {
            margin-bottom: 0;
        }
        .ontologies {
            li {
                display: inline;

                &:after {
                    content: ', ';
                }
                &.last:after {
                    content: '';
                }
            }
        }
        .header {
            margin-bottom: 0;

            i {
                width: 0.8em;
            }
        }
        .dataset-title {
            font-weight: 500;
            font-size: 24px;
            display: inline-block;
        }
        p {
            margin: 0;
        }
        .action-container {
            float: right;
            padding-right: 10px;
            padding-top: 10px;

            .dropdown-toggle::after {
                display: none;
            }
            button {
                i {
                    vertical-align: middle;
                }
            }
        }
        .description {
            @include textOverflow;
        }
        &.open {
            .description {
                text-overflow: clip;
                white-space: normal;
                overflow: visible;
            }
        }
    }
    .paging-container {
        padding: 0 15px;

        .paging-details {
            float: left;

            p {
                line-height: 34px;
                margin: 0;
            }
        }
        .page-nav {
            float: right;

            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}