/* Core variables */
@import "./src/main/resources/public/css/variables";

.sparql-editor {
    padding-bottom: 15px;

    .top-action-container {
        padding-bottom: 15px;
    }

    .CodeMirror {
        border: 1px solid #ccc;
        height: 225px;
    }
}