/* Core variables */
@import "./src/main/resources/public/css/variables";

.sparql-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;

    .top-section {
        display: flex;
        flex-direction: row;

        .form-group {
            flex: 1;
            margin-right: 15px;
        }

        .btn-container {
            margin-top: 24px;
        }
    }

    .codemirror-wrapper {
        flex: 1;
        position: relative;

        .CodeMirror {
            border: 1px solid #ccc;
            bottom: 0;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}