/* Core variables */
@import "./src/main/resources/public/css/variables";

.edit-mapping-page {
	.edit-tabs {
		> .tabset-headings a {
			background-color: $gray-light;
			
			&.active {
				background-color: #fff;
			}
			&:first-child {
				margin-left: 0px;
			}
		}

		.block-footer button {
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}