/* Core variables */
@import "./src/main/resources/public/css/variables";

.upload-snackbar {
    color: inherit;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    width: 400px;

    .snackbar-header {
        background-color: #323232;
        padding: 0.875rem 1.5rem;

        button {
            background-image: none;
            line-height: 0.9;
            font-size: 1.5rem;
        }
    }
    .snackbar-body {
        padding: 0.875rem 1.5rem;
        white-space: normal;
        text-overflow: unset;

        .uploaded-ontology {
            border-bottom: 1px solid var(--light-dark);

            &.last {
                border-bottom: none;
            }
            .item-details h3 {
                font-size: 1rem;
            }
        }
    }
}