/* Core variables */
@import "./src/main/resources/public/css/variables";

.blank-node-value-display {
    .CodeMirror {
        font-family: inherit;
        height: auto;
        background: inherit;

        .CodeMirror-lines {
            padding: 0;
        }
    }
}