/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-tab {
    height: 100%;
    position: relative;

    .save-button {
        bottom: 30px;
        position: absolute;
        right: 30px;
        z-index: 10;

        &.ng-enter {
            -webkit-transition: 0.25s linear all;
                    transition: 0.25s linear all;
            opacity: 0;
            transform: rotate(0) scale(0);

            &.ng-enter-active {
                opacity: 1;
                transform: rotate(360deg) scale(1);
            }
        }
        &.ng-leave {
            -webkit-transition: 0.25s linear all;
                    transition: 0.25s linear all;
            opacity: 1;
            transform: rotate(360deg) scale(1);

            &.ng-leave-active {
                opacity: 0;
                transform: rotate(0) scale(0);
            }
        }
    }
}