/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-tab {
    height: 100%;
    position: relative;

    .ontology-button-stack {
        bottom: 25px;
        position: absolute;
        right: 25px;
    }
}