/* Core variables */
@import "./src/main/resources/public/css/variables";

.instance-view {
    .block-header {
        .edit-button {
            display: inline-block;
            line-height: 33px;
            margin-right: 15px;
        }
    }
    .block-content {
        padding-bottom: 15px;

        .lead {
            display: -webkit-box;
            max-height: 87px;
            line-height: 29px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .property {
            font-size: 20px;
            margin: 10px 0 5px 0;

            &.changed {
                color: var(--primary);
            }
        }
        .values {
            padding-left: 10px;

            &.show-more li,
            &.show-link li.link-container,
            li:first-child {
                display: list-item;
            }
            li {
                display: none;

                .value-container {
                    padding: 5px 8px;
                }
                &:not(.link-container) .value-container:hover {
                    background: var(--light);
                }
            }
            .link {
                &:after {
                    content: ' More';
                }
                &.more:after {
                    content: ' Less';
                }
            }
        }
        .row {
            margin: 0;
        }
    }
}