/* Core variables */
@import "./src/main/resources/public/css/variables";

$result-header-top-margin: 20px;

.results {
    padding: 0.5em 0.5em 0.5em 1em;
    overflow-y: auto;
    overflow-x: hidden;

    .results-header {
        span {
            font-size: 1.5em;
        }
        form {
            float: right;
        }
    }
    .results-list {
        padding-bottom: 80px;

        .result {
            border-bottom: 1px solid $gray-lighter;
            padding: 0.5em;
            position: relative;

            h3 {
                margin-top: $result-header-top-margin;
            }
            .download-btn {
                float: right;
                margin-top: $result-header-top-margin;
            }
        }
    }
}