$primary: (
    color: #303f9f,
    dark: darken(#303f9f, 10%),
    light: lighten(#303f9f, 10%)
);

$secondary: (
    color: #3f51b5,
    dark: darken(#3f51b5, 10%),
    light: lighten(#3f51b5, 10%)
);

$colors: (
    body: rgba(0,0,0,0.87)
);

/*$secondary: (
    color: #303f9f,
    dark: darken(#303f9f, 10%),
    light: lighten(#303f9f, 10%)
);*/

@import "node_modules/daemonite-material/assets/scss/material";