/* Core variables */
@import "./src/main/resources/public/css/variables";

.datasets-tabset {
    display: flex;
    flex-direction: column;

    .datasets-page-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .actions form.form-inline {
            padding: 9px;
        }
    }
}