/* Core variables */
@import "./src/main/resources/public/css/variables";

.property-values {
    .prop-header {
        font-size: 0.95rem;

        .text {
            max-width: 75%;
            font-weight: 600;
        }
    }
    .prop-value-container {
        -webkit-transition: background-color ease-in-out 0.1s;
                transition: background-color ease-in-out 0.1s;

        .value-display-wrapper {
            word-wrap: break-word;
        }
        .button-container {
            -webkit-transition: opacity ease-in-out 0.1s;
                    transition: opacity ease-in-out 0.1s;
            opacity: 0;

            button:hover {
                text-decoration: none;
                color: inherit;
            }
        }
        &:hover {
            background-color: var(--light);

            .button-container {
                opacity: 1;
            }
        }
    }
}