<div ng-hide="showIriOverlay" class="overlay">
    <div class="content">
        <!-- section header -->
        <h6>Create New OWL Class</h6>

        <!-- error -->
        <error-display ng-if="createClassError">{{createClassError}}</error-display>

        <!-- static iri -->
        <static-iri iri="dvm.iri"
                    on-edit="dvm.onEdit(iriBegin, iriThen, iriEnd)"
                    ontology-iri-begin="dvm.iriBegin"
                    ontology-iri-then="dvm.iriThen"></static-iri>

        <form name="dvm.createClassForm" class="clearfix" novalidate autocomplete="off">
            <!-- name -->
            <div class="form-group">
                <custom-label muted-text="'*Required'">Name</custom-label>
                <input type="text" class="form-control" ng-model="dvm.name" ng-trim="false" ng-keyup="dvm.nameChanged()" required>
            </div>

            <!-- description -->
            <text-area ng-model="dvm.description" display-text="'Description'"></text-area>

            <!-- create class buttons -->
            <div class="btn-container clearfix">
                <custom-button is-disabled-when="dvm.createClassForm.$invalid"
                               on-click="onCreate({classIri: dvm.iri, label: dvm.name, description: dvm.description})">Create</custom-button>

                <custom-button on-click="onCancel()" type="'secondary'">Cancel</custom-button>
            </div>
        </form>
    </div>
</div>