/* Core variables */
@import "./src/main/resources/public/css/variables";

.search-form {
    .dataset-wrapper {
        display: flex;
        flex-direction: row;

        .dataset-form-group {
            flex: 1;

            .flex-container .btn-clear {
                line-height: 0;
                margin-left: 5px;
            }
        }
        .refresh-link {
            display: inline-block;
            height: 33px;
            line-height: 33px;
            margin: 25px 0 15px 5px;
            vertical-align: bottom;
        }
        a {
            font-size: 0;

            i {
                font-size: 14px;
                line-height: 33px;
            }
        }
    }
    .boolean-operator {
        md-radio-group md-radio-button {
            display: inline-block;
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .strike {
        font-weight: bold;
        margin-bottom: 15px;
        overflow:hidden;
        position: relative;
        white-space: nowrap;

        &:after {
            background: var(--light-dark);
            content: '';
            height: 1px;
            margin-left: 10px;
            position: absolute;
            top: 50%;
            width: 9999px;
        }
    }
    .md-chips .md-chip-input-container {
        width: 100%;

        input {
            width: 100%;
        }
        md-autocomplete md-autocomplete-wrap {
            width: 100%;
        }
    }
    .properties-container {
        .header-wrapper .property-label {
            margin: 7px 0;
        }
        md-list-item {
            width: 100%;
        }
    }
    md-list {
        border: 1px solid var(--light);
        min-height: 250px;
        padding: 0;

        &.disabled {
            opacity: .75;

            md-list-item:hover {
                background: transparent;
            }
        }
        md-list-item:hover {
            background: var(--light);
        }
        .fa {
            font-size: 1.5em;
        }
    }
}

.search-form-searchbox {
    border: none;
    border-bottom: 1px solid var(--light-dark);
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px;
}
