<div id="mapping-select-overlay" class="overlay lg">
    <form class="content" name="mappingForm">
        <h6>Choose Mapping</h6>
        <div id="new-mapping-radio" class="form-group">
            <label>
                <input type="radio" value="new" ng-model="dvm.mappingType" ng-change="dvm.mappingName = ''"/>
                New
            </label>
            <br/>
            <label ng-if="dvm.mappingType === 'new'" ng-class="mappingForm.mappingName.$touched ? (mappingForm.mappingName.$valid ? 'has-success' : 'has-error') : ''">
                Name
                <input type="text" name="mappingName" class="form-control"
                    ng-blur="dvm.check()"
                    ng-model="dvm.mappingName" 
                    ng-required="dvm.mappingType === 'new'"
                    ng-maxlength="50"/>
            </label>
            <br/>
            <div class="text-danger" ng-show="dvm.mappingType === 'new' && mappingForm.mappingName.$error.uniqueName">
                Mapping name must be unique
            </div>
            <div class="text-danger" ng-show="dvm.mappingType === 'new' && mappingForm.mappingName.$error.maxlength">
                Mapping name must be 50 characters or less
            </div>
        </div>
        <div id="previous-mapping-radio" class="form-group">
            <label>
                <input type="radio" value="previous" ng-model="dvm.mappingType" 
                    ng-change="dvm.mappingName = ''" ng-disabled="dvm.previousMappings.length === 0"/>
                Previous
            </label>
            </br/>
            <select class="form-control" size="10" 
                ng-if="dvm.mappingType === 'previous'" 
                ng-model="dvm.mappingName" 
                ng-required="dvm.mappingType === 'previous'">
                <option ng-repeat="mapping in dvm.previousMappings">{{mapping}}</option>
            </select>
        </div>
        
        <div class="overlay-button-container">
            <custom-button display-text="'Back'" on-click="onClickBack()" pull="'left'"></custom-button>
            <custom-button display-text="'Continue'" on-click="onClickContinue({mappingType: dvm.mappingType, mappingName: dvm.mappingName})" is-disabled-when="!dvm.mappingType || (dvm.mappingType === 'new' && mappingForm.mappingName.$invalid) || (dvm.mappingType === 'previous' && !dvm.mappingName)"></custom-button>
        </div>
    </form>
</div>