/* Core variables */
@import "./src/main/resources/public/css/variables";

.pagination-header {
    margin-bottom: 10px;
    overflow: auto;

    .paging-details {
        float: left;
    }
    .sort-options {
        float: right;
        width: 15%;
    }
}