/* Core variables */
@import "./src/main/resources/public/css/variables";

.axiom-overlay {
    .tab {
        padding-top: 10px;
    }
    .codemirror-wrapper.readOnly .CodeMirror {
        background-color: var(--light-dark);
        opacity: .65;
    }
    .CodeMirror {
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
        font-family: inherit;
        height: 200px;
    }
}