/* Core variables */
@import "./src/main/resources/public/css/variables";

.class-list-container {
    width: 25%;
    padding: 0.5em;
    height: 100%;
    float: left;
    border: 1px solid $gray-light;
    overflow-y: auto;

    .class-list {
        li {
            text-overflow: ellipsis;
        }
        .props li {
            margin-left: 1em;
            display: block;
            position: relative;
            text-overflow: ellipsis;

            .delete {
                background-color: transparent;
                border: none;
                position: absolute;
                right: 0;

                &:hover {
                    color: $gray-lighter;
                }
            }
        }
    }
}