<div class="class-list col-xs-4 full-height">
    <div class="boxed">
        <ul class="list" ng-if="dvm.csv.filePreview">
            <li ng-repeat="classMapping in dvm.manager.getAllClassMappings(dvm.manager.mapping.jsonld)">
                <a ng-click="dvm.clickClass(classMapping)">{{dvm.getClassTitle(classMapping)}}</a>
                <ul class="props">
                    <li ng-repeat="propMapping in dvm.manager.getPropMappingsByClass(dvm.manager.mapping.jsonld, classMapping['@id'])">
                        <a ng-click="dvm.clickProp(propMapping, classMapping)" ng-class="{'text-danger': dvm.getInvalidPropIds().indexOf(propMapping['@id']) >= 0}">{{dvm.getPropTitle(propMapping, classMapping)}}</a>
                    </li>
                    <li ng-if="!dvm.mappedAllProps(classMapping)"><a ng-click="dvm.clickAddProp(classMapping)"><i class="fa fa-plus"></i> Add Property</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>