/* Core variables */
@import "./src/main/resources/public/css/variables";

.tabset {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .tabset-headings {
        display: flex;
        flex-direction: row;
        height: 48px;

        .heading {
            background-color: var(--light-dark);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: var(--body);
            display: inline-block;
            flex-basis: auto;
            flex-grow: 1;
            font-size: 16px;
            line-height: 22px;
            margin: 12px 0 0 8px;
            padding: 7px 15px;
            text-decoration: none;
            max-width:         min-content;
            max-width:    -moz-min-content;
            max-width: -webkit-min-content;
            white-space: nowrap;
            @include noCopy();

            &.active {
                background-color: #fff;
            }
            &:last-child {
                margin-right: 10px;
            }
            .heading-text {
                display: inline-block;
                @include textOverflow;
                vertical-align: top;
                max-width: 100px;
            }
            &.marked {
                .heading-text,
                .fa-times {
                    color: var(--primary);
                }
                .heading-text {
                    font-weight: bold;
                }
            }
            .fa-stack {
                height: 22px;
                line-height: 22px;
                vertical-align: top;
                width: 22px;

                .fa-times {
                    top: -1px;
                }
                .fa-times-circle {
                    font-size: 22px;
                    visibility: hidden;
                }
                &:hover {
                    .fa-times-circle {
                        visibility: visible;
                    }
                    .fa-times {
                        visibility: hidden;
                    }
                }
            }
        }
    }
    > .tabset-contents {
        flex: 1;
        min-height: 0;
    }
    &.centered {
        > .tabset-headings {
            background: white;
            box-shadow: 5px 5px 5px 0px $gray-light;
            display: block;
            height: 52px;
            text-align: center;

            .heading {
                background-color: white;
                border-bottom: 2px solid transparent;
                border-radius: 0;
                color: var(--light-dark);
                margin: 0;
                padding: 15px 15px 13px;

                &.active {
                    border-color: var(--primary);
                    color: black;
                }
                .heading-text {
                    max-width: none;
                    width: auto;
                }
            }
        }
    }
    &.in-overlay {
        > .tabset-headings {
            background: white;
            display: block;
            height: inherit;
            text-align: center;
            border-bottom: 1px solid $gray-light;

            .heading {
                background-color: white;
                border-bottom: 2px solid transparent;
                border-radius: 0;
                color: var(--light-dark);
                margin: 0;
                padding: 15px 15px 13px;
                font-size: 1em;
                line-height: 1em;

                &.active {
                    border-color: --var(--primary);
                    color: black;
                }
                .heading-text {
                    max-width: none;
                    width: auto;
                }
            }
        }
    }
}