/* Core variables */
@import "./src/main/resources/public/css/variables";

.preview-block {
    .CodeMirror {
        bottom: 0;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .CodeMirror-cursor {
            display: none !important
        }
    }
}