/* Core variables */
@import "./src/main/resources/public/css/variables";

.search-tab {
    .ui-select-highlight {
        background-color: var(--yellow);
    }
    .padding {
        padding-top: 10px;
    }
    .result-header {
        border-bottom: 1px solid var(--light-dark);
        cursor: pointer;
        padding: 5px 0;
    }
    .search {
        position: relative;

        .fa-search,
        .fa-times-circle {
            position: absolute;
            font-size: 1.25em;
            top: 12px;
        }

        .fa-search {
            left: 10px;
        }

        .fa-times-circle {
            right: 10px;
            text-decoration: none;

            &:hover {
                color: var(--body) !important;
            }
        }

        input {
            border: 0;
            border-bottom: 1px solid var(--light-dark);
            display: inline-block;
            padding: 10px 35px;
            outline: 0;
            width: 100%;
        }
    }
}