/* Core variables */
@import "./src/main/resources/public/css/variables";

.search-tab {
    .ui-select-highlight {
        background-color: var(--yellow);
    }
    .padding {
        padding-top: 10px;
    }
    .result-header {
        border-bottom: 1px solid var(--light-dark);
        cursor: pointer;
        padding: 5px 0;
    }
}