<div class="overlay sm">
    <form name="vm.uploadForm" class="content clearfix" novalidate autocomplete="off">
        <!-- section header -->
        <h6>Upload Ontology</h6>

        <!-- error display -->
        <error-display ng-if="vm.uploadError">{{vm.uploadError}}</error-display>

        <!-- file to upload -->
        <div class="form-group">
            <custom-label>Select a file</custom-label>
            <file-input id="file" name="file" ng-model="vm.upload.file" accept=".owl,.ttl,.xml"></file-input>
        </div>

        <!-- buttons -->
        <div class="btn-container clearfix">
            <custom-button is-disabled-when="!vm.upload.file"
                           on-click="vm.uploadOntology(vm.upload.file, vm.upload.namespace, vm.upload.localName);">Upload</custom-button>

            <custom-button on-click="vm.showUploadOverlay = false; vm.uploadError = false;" type="'secondary'">Cancel</custom-button>
        </div>
    </form>
</div>