/* Core variables */
@import "./src/main/resources/public/css/variables";

.edit-mapping-form {
	display: flex;
	flex-direction: column;

    .mapping-config {
        p {
            margin-bottom: 0;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            padding-right: 20px;
            max-width: 100%;
        }
        button {
            position: absolute;
            right: 0;
        }
    }
    .class-mappings {
        .classes-field-name {
            overflow: hidden;
            margin-bottom: 5px;
        }
        .control-label {
            width: 100%;
        }
        .class-mapping-select-container {
            display: flex;

            .class-mapping-select {
                flex: 1;
            }
        }
    }
    .class-mapping-details {
        flex: 1;
    }
    ul.dl-horizontal {
        margin-bottom: 0;
    }
}