/* Core variables */
@import "./src/main/resources/public/css/variables";

body.collapsed-nav .main-header {
    left: 50px;
}

.main-header {
    background-color: $gray-lighter;
    height: 42px;
    left: 200px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: left .25s ease;
    top: 0;

    h1,
    .actions {
        padding: 10px 15px;
    }

    h1 {
        font-size: 20px;
        font-weight: normal;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
    }

    img {
        height: 42px;
        padding: 8px;
        
        &.home {
            display: none;
        }
    }

    .actions {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;

        i {
            font-size: 1.5em;
            vertical-align: middle;

            &.fa-caret-down {
                font-size: 1em;
            }
        }

        a {
            margin-left: 5px;
            text-decoration: none;
        }

        div {
            display: inline-block;
            &.open a.dropdown-toggle {
                color: #23527c;
            }

            .dropdown-menu {
                left: auto;
                right: 0;

                li {
                    display: block;

                    .divider {
                        width: 100%;
                    }
                }
                a {
                    margin-left: 0;

                    &.active {
                        border-color: $brand-info;
                    }
                }
            }
        }
    }
}