/* Core variables */
@import "./src/main/resources/public/css/variables";

.mapper-tabset {
    display: flex;
    flex-direction: column;

    .mapper-page-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > .row {
            flex: 1;
            min-height: 0;
            margin: 0;
            padding: 15px 0;
        }
    }
}