/* Core variables */
@import "./src/main/resources/public/css/variables";

.open-ontology-select {
    padding: 0 1rem;

    input {
        font-size: 12px;
    }
    .ui-select-bootstrap {
        .ui-select-choices-row > span {
            font-size: 12px;
            padding: 3px 8px;
        }
        .ui-select-match-text span {
            font-size: 12px;
            line-height: 20px;
        }
        .ui-select-choices-group-label {
            font-size: 12px;
            padding: 3px 8px;
        }
    }
    .entity-display {
        display: flex;
        flex-direction: row;

        &.active {
            font-weight: bold;
        }
        &.master .fa-fw {
            display: none;
        }
        span {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .fa-fw {
            line-height: 20px;
            margin-left: 5px;
            text-decoration: none;

            &:hover {
                color: var(--grey) !important;
            }
        }
        .fa-fw-red {
            color: var(--danger);
            line-height: 20px;
            margin-left: 5px;
            text-decoration: none;
        }
    }
}