<form class="new-prop-form">
    <div class="form-group">
        <custom-label>{{dvm.getClassName() + ' Properties'}}</custom-label>
        <prop-select props="dvm.state.availableProps" selected-prop="dvm.state.selectedProp" on-change="dvm.update()"></prop-select>
    </div>
    <range-class-description ng-if="dvm.state.selectedProp && dvm.isObjectProperty()" 
        class-id="{{dvm.manager.getClassIdByMappingId(dvm.manager.mapping.jsonld, dvm.state.selectedClassMappingId)}}" 
        selected-prop-id="{{dvm.state.selectedProp['@id']}}"></range-class-description>

    <div class="form-group" ng-if="dvm.state.selectedProp && !dvm.isObjectProperty()">
        <custom-label>Columns</custom-label>
        <column-select columns="dvm.state.availableColumns" selected-column="dvm.state.selectedColumn"></column-select>
    </div>
    <div class="form-btns form-group btn-container clearfix">
        <custom-button type="'secondary'" on-click="dvm.set()" pull="'left'" is-disabled-when="!dvm.state.selectedProp || (!dvm.isObjectProperty() && !dvm.state.selectedColumn)">Set</custom-button>
        <custom-button type="'secondary'" on-click="dvm.setNext()" pull="'left'" is-disabled-when="!dvm.state.selectedProp || (!dvm.isObjectProperty() && !dvm.state.selectedColumn) || dvm.state.availableProps.length <= 1">Set &amp; Next</custom-button>
    </div>
</form>