/* Core variables */
@import "./src/main/resources/public/css/variables";

body.collapsed-nav {
    .left-nav {
        width: 50px;

        a span,
        .version-details {
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
        }
    }
}
.left-nav {
	background: gray;
	height: 100%;
	overflow: hidden;
	position: absolute;
	transition: width .25s ease;
	width: 200px;
    @include noCopy();

	a {
	    color: white;
        display: inline-block;
        padding: 7px 10px;
        text-decoration: none;
        white-space: nowrap;
        width: 100%;

        &:hover {
            color: lightgray;
        }

        &.active {
            background: darkslategray;
            color: lightgray;
        }

        &.toggle {
            padding-top: 12px;
        }

        * {
           vertical-align: middle;
        }

        i {
            font-size: 1.5em;
        }

        span {
            font-size: 1.125em;
            opacity: 1;
            padding-left: 10px;
        }
	}

    a span,
	.version-details {
	    transition: opacity .25s ease-in, visibility .25s ease-in;
	}

	.version-details {
	    bottom: 0;
        color: white;
        padding: 7px 5px;
        position: absolute;
        width: 200px;

        .logo {
            float: left;
            height: 30px;
            padding-left: 10px;
        }

        .version-text {
            display: inline-block;
            line-height: 30px;
            padding-left: 10px;
            white-space: nowrap;
        }
	}
}