<div class="overlay">
    <form name="dvm.createOntologyForm" class="content clearfix" novalidate autocomplete="off">
        <!-- section header -->
        <h6>Create New OWL Ontology</h6>

        <!-- error -->
        <error-display ng-if="createOntologyError">{{createOntologyError}}</error-display>

        <!-- new ontology iri -->
        <div ng-class="{'has-error': vm.createOntologyForm.iri.$error.pattern}" class="form-group">
            <custom-label muted-text="'*Required'">Ontology IRI</custom-label>
            <input class="form-control" id="iri" name="iri" ng-model="dvm.iri" ng-pattern="dvm.iriPattern" ng-change="dvm.iriHasChanged = true" required />
            <p ng-messages="dvm.createOntologyForm.iri.$error" class="error-msg">
                <ng-message when="pattern">The value provided is not a valid IRI.</ng-message>
            </p>
        </div>

        <!-- name -->
        <div class="form-group">
            <custom-label muted-text="'*Required'">Name</custom-label>
            <input type="text" class="form-control" ng-model="dvm.name" ng-trim="false" ng-keyup="dvm.nameChanged()" required>
        </div>

        <!-- description -->
        <text-area ng-model="dvm.description" display-text="'Description'"></text-area>

        <!-- create ontology buttons -->
        <div class="btn-container clearfix">
            <custom-button is-disabled-when="dvm.createOntologyForm.$invalid"
                           on-click="onCreate({ontologyIri: dvm.iri, label: dvm.name, description: dvm.description})">Create</custom-button>

            <custom-button on-click="onCancel()" type="'secondary'">Cancel</custom-button>
        </div>
    </form>
</div>