/* Core variables */
@import "./src/main/resources/public/css/variables";

.datasets-tabset {
    display: flex;
    flex-direction: column;

    .actions form.form-inline {
        padding: 9px;
    }
}