/* Core variables */
@import "./src/main/resources/public/css/variables";

.record-card {
    &.clickable:hover {
        cursor: pointer;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px 0 rgba(0, 0, 0, 0.2) !important;
    }
    .record-description {
        display: -webkit-box;
        height: 30px;
        line-height: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}