/* Core variables */
@import "./src/main/resources/public/css/variables";

.activity-log {
    background-color: $gray-lighter;
    display: flex;
    flex-direction: column;

    .activity-log-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}