/* Core variables */
@import "./src/main/resources/public/css/variables";

imports-overlay {
    .web-url .tab {
        padding: 15px;
    }
    .ontologies {
        max-height: 300px;
        overflow-y: auto;

        .md-list-item-inner {
            width: 100%;

            .md-list-item-text {
                width: calc(100% - 24px);

                h4 {
                    margin-bottom: 0;
                    @include textOverflow;
                }
                p {
                    @include textOverflow;
                }
            }
        }
    }
    .remove-ontology {
        color: var(-danger);

        &:hover {
            color: var(--danger-dark);
        }
    }
}