/* Core variables */
@import "./src/main/resources/public/css/variables";

imports-overlay {
    .web-url .tab {
        padding: 15px;
    }
    .ontologies {
        max-height: 300px;
        overflow-y: auto;

        md-checkbox {
            margin-right: 0;
        }
        .md-list-item-inner {
            min-width: 0;

            .md-list-item-text {
                flex: 1;
                min-width: 0;

                h4 {
                    margin-bottom: 0;
                    @include textOverflow;
                }
                p {
                    @include textOverflow;
                }
            }
        }
    }
    .remove-ontology {
        color: var(-danger);

        &:hover {
            color: var(--danger-dark);
        }
    }
}