/* Core variables */
@import "./src/main/resources/public/css/variables";

.create-user-info-overlay,
.create-user-perms-overlay {
    .btn-container {
        text-align: center;
        .step-number {
            display: inline-block;
            font-weight: bold;
        }
    }
}