/* Core variables */
@import "./src/main/resources/public/css/variables";

.merge-request-view {
    display: flex;
    flex-direction: column;

    h2 {
        display: inline-block;
    }
    .block-footer button {
        margin-left: 10px;
    }
    .tabset {
        margin-top: 20px;
        flex: 1;
        height: auto;

        .tab {
            height: auto;
            font-size: 14px;
        }
        .tabset-headings {
            border-top: 1px solid $gray-light;

            .heading {
                line-height: 18px;
            }
        }
        .tabset-contents {
            overflow-y: auto;
            padding: 15px;
        }
        .property-values {
            margin-bottom: 0px;
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}