/* Core variables */
@import "./src/main/resources/public/css/variables";

.merge-request-view {
    display: flex;
    flex-direction: column;

    h2 {
        display: inline-block;
    }
    .conflict {
        display: block;
        
        .warning:before {
            content: "\f071"
        }
        
        .warning {
            padding: 0.5em;

            span {
                padding-left: 0.5em;
            }
        }
    }
    .block-footer button {
        margin-left: 10px;
    }
    .commit-difference-tabset {
        margin-top: 20px;
        flex: 1;
    }
}