/* Core variables */
@import "./src/main/resources/public/css/variables";

.merge-request-view {
    display: flex;
    flex-direction: column;

    h2 {
        display: inline-block;
    }

    .alert {
        margin-top: 20px;
    }
    .block-footer button {
        margin-left: 10px;
    }
    .commit-difference-tabset {
        margin-top: 20px;
        flex: 1;
    }
    .assignees {
        display: inline-block;

        li {
            display: inline;

            &:after {
                content: ', ';
            }
            &.last:after {
                content: '';
            }
        }
    }
}