/* Core variables */
@import "./src/main/resources/public/css/variables";

.selected-details {
    padding-bottom: 15px;

    .entity-name {
        font-size: 18px;
        word-break: break-word;
    }

    .type-wrapper {
        margin: 0;

        .type-label {
            padding-right: 3px;
        }

        .types {
            font-size: .85em;
        }
    }
}