/* Core variables */
@import "./src/main/resources/public/css/variables";

.member-table {
    tr {
        td:first-child {
            width: 15%;
        }
        &.member td:last-child {
            text-align: right;
        }
    }
}