/* Core variables */
@import "./src/main/resources/public/css/variables";

.commit-compiled-resource {
    .prop-value-container {
        .value-display-wrapper {
            .item-type {
                color: rgba(0, 0, 0, 0.38);
            }
            .item-language {
                color: rgba(0, 0, 0, 0.38);
            }
            .value-signs {
                float:left;
                .even-text {
                    .text-monospace;
                }
            }
            .value-display {
                margin-bottom: 15px;
            }
        }
    }
}