/* Using the padding kind of like a border in this case */
[custom-widget] {
    background: #000;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 0;

    /* Clears all iframe styles */
    iframe {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .toolbar {
        cursor: move;
        width: 100%;

        .fa {
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #666;
                text-decoration: none;
            }
        }
    }
}
