/* Core variables */
@import "./src/main/resources/public/css/variables";

.statement-display {
    font-size: 14px;

    &:hover {
        background: $gray-lighter;
    }

    &.addition {
        color: $brand-success;
    }

    &.deletion {
        color: $brand-danger;
    }

    td {
        padding: 1px 10px;
        word-break: break-word;

        &.predicate {
            width: 20%;
        }

        &.object {
            width: 70%;
        }

        &.transcluded {
            text-align: right;
            width: 10%;
        }
    }
}