/* Core variables */
@import "./src/main/resources/public/css/variables";

.property-value-overlay {
    .content .main.scrollable {
        margin-bottom: 0;
        max-height: 500px;
        overflow-y: auto;
    }
}