/* Core variables */
@import "./src/main/resources/public/css/variables";

.upload-ontology-tab {
    display: flex;
    flex-direction: column;
    height: 100%;

    .form-container {
        flex: 1;
        min-height: 0;
        padding: 15px 0;

        form {
            padding: 30px;
        }
    }
}