/* Core variables */
@import "./src/main/resources/public/css/variables";

.merge-tab {
    display: flex;
    flex-direction: column;
    height: 100%;

    .row-container {
        flex: 1;
        min-height: 0;
        padding: 15px 0;
        margin: 0;
    }
    .block-footer button {
        margin-left: 10px;
    }
}