<div class="rdf-preview slide" ng-class="{'out': dvm.visible, 'in': !dvm.visible}">
    <a class="toggle-btn" ng-click="dvm.visible = !dvm.visible">
        <i class="fa" ng-class="{'fa-chevron-right': dvm.visible, 'fa-chevron-left': !dvm.visible}"></i> Preview
    </a>
    <form class="form-inline">
        <div class="controls form-group">
            <label>
                Serialization
                <select ng-model="dvm.serializeOption" class="form-control">
                    <option ng-repeat="option in dvm.options" value="{{option.value}}">{{option.name}}</option>
                </select>
            </label>
            <button class="btn btn-default" ng-click="dvm.generatePreview()">Refresh</button>
        </div>
        <textarea format-rdf id="text-preview" class="form-control" ng-model="dvm.preview" readonly></textarea>
    </form>
</div>