<div class="rdf-preview slide out" ng-class="dvm.visible ? 'out' : 'in'">
    <a class="toggle-btn" ng-click="dvm.visible = !dvm.visible">
        <i class="fa fa-chevron-left" ng-class="dvm.visible ? 'fa-chevron-right' : 'fa-chevron-left'"></i> Preview
    </a>
    <form class="form-inline">
        <div class="controls form-group">
            <label>
                Serialization
                <select ng-model="serializeOption" class="form-control">
                    <option ng-repeat="option in dvm.options" value="{{option.value}}">{{option.name}}</option>
                </select>
            </label>
            <button class="btn btn-default" ng-click="createPreview({format: serializeOption})">Refresh</button>
        </div>
        <textarea format-rdf id="text-preview" class="form-control" ng-style="{'height': dvm.textareaHeight + 'px'}" ng-model="preview" readonly></textarea>
    </form>
</div>