/* Core variables */
@import "./src/main/resources/public/css/variables";

edit-dataset-overlay {
    .dataset-info {
        p:first-child {
            margin-bottom: 0px;
            label {
                margin-bottom: 0px;
            }
        }
    }
}
