/* Core variables */
@import "./src/main/resources/public/css/variables";

.drag-file {
    background-color: $gray-lighter;
    border: dashed 3px $gray;
    text-align: center;

    &.hover {
        background-color: $gray-light;
    }

    .inner-container {
        padding: 30px 0;

        p {
            font-size: 18px;
        }
    }
}