/* Core variables */
@import "./src/main/resources/public/css/variables";

.drag-file {
    background-color: var(--light);
    border: dashed 1px var(--grey);
    text-align: center;

    &.hover {
        box-shadow: 0 0 10px 2px var(--light-dark);
    }

    .inner-container {
        padding: 30px 0;

        p {
            font-size: 18px;
            margin: 0;
        }
    }
}