/* Core variables */
@import "./src/main/resources/public/css/variables";

.drag-file-container {
    position: relative;

    .drag-file {
        top: 0;
        left: 0;
        z-index: 9001;
        background-color: rgba(224, 224, 224, 0.5);
        opacity: 1;

        &.ng-hide {
            opacity: 0;
        }
        &.ng-hide-add, &.ng-hide-remove {
            -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .drag-file-info {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .fa {
                font-size: 5rem;
            }
        }
    }
}