/* Core variables */
@import "./src/main/resources/public/css/variables";

.usages-block {
    .predicate {
        color: #08B36E;
    }
    .selected {
        font-weight: bold;
    }
    .text-center {
        padding-bottom: 10px;
    }
}