/* Core variables */
@import "./src/main/resources/public/css/variables";

/* Style to show the words for the nav menu */
.show-words {
    .nav .icon-container li a .name {
        display: inline-block;
    }
}

/* Adding color to the background */
nav {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .nav {
        background-color: $gray;

        /* Removing the list style from the element */
        .icon-container {
            list-style: none;
            margin: 0;
            padding: 0;

            .fa {
                font-size: 1.5em;
            }

            .sign-out-wrapper {
                padding: 7px;
            }

            /* Adding the proper spacing to the icons */
            li {
                color: #fff;
                display: inline-block;

                /* Styles the icon itself */
                a {
                    color: inherit;
                    cursor: pointer;
                    display: inline-block;
                    padding: 6px;
                    text-decoration: none;

                    /* Changes the color of the icons as you hover over them. */
                    &:hover {
                        color: $gray-light;
                    }

                    /* The words that appear next to the icon */
                    .name {
                        display: none;
                        line-height: 2em;
                        padding-left: 10px;
                        vertical-align: top;
                    }
                }
            }
        }

        /* Adds bar for the different perspective options */
        .perspectives li a {
            border-top: 4px solid transparent;
            padding-top: 4px;

            /* Style to show which perspective you are currently viewing */
            &.active {
                border-color: $brand-info;
            }
        }
    }
}