/* Core variables */
@import "./src/main/resources/public/css/variables";

/* Style to show the words for the nav menu */
.show-words {
    .nav .icon-container li a .name {
        display: inline-block;
    }
}

/* Adding color to the background */
nav {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .nav {
        background-color: $gray;

        /* Removing the list style from the element */
        .icon-container {
            list-style: none;
            margin: 0;
            padding: 0;

            .sign-out-wrapper {
                padding: 7px;
            }
        }

        /* Adds bar for the different perspective options */
        .perspectives li a {
            border-top: 4px solid transparent;
            padding-top: 4px;

            /* Style to show which perspective you are currently viewing */
            &.active {
                border-color: $brand-info;
            }
        }
    }
}