/* Core variables */
@import "./src/main/resources/public/css/variables";

.class-preview {
    margin-bottom: 15px;

    .props {
        li {
            display: inline;

            &:after {
                content: ', ';
            }
            &.last:after {
                content: '';
            }
            &.last.limited:after {
                content: '...'
            }
        }
    }
}