/* Core variables */
@import "./src/main/resources/public/css/variables";

.catalog {
    background-color: $gray-lighter;

    .entity-title {
        text-align: center;
        clear: both;
        margin: 0;
    }
    .list-group {
        margin: 0 5%;

        .list-group-item {
            outline: 0;
            border-radius: 0;
            border-bottom: 1px solid $gray-lighter;
            padding: 0.5em;
            text-align: left;

            h3 {
                display: inline-block;
            }
        }
    }
    .entity-dates span.date {
        font-size: 85%;
    }
}