/* Core variables */
@import "./src/main/resources/public/css/variables";

.imports-block {
    .import {
        margin: 0;
        padding: 10px;

        &:hover {
            background: $gray-lighter;
        }

        .error-display {
            font-weight: normal;
        }
    }
}