/* Core variables */
@import "./src/main/resources/public/css/variables";

.imports-block {
    .block-header .pull-right {
        margin-left: 10px;
    }

    .import {
        margin: 0;
        padding: 10px;

        &:hover {
            background: $gray-lighter;
        }

        .error-display {
            font-weight: normal;
        }
    }

    .indirect-import-container {
        border-top: 1px solid #E8E8E8;

        .indirect-header {
            border-bottom: 1px solid #E8E8E8;
            display: inline-block;
            padding: 10px;
            width: 100%;
        }
    }
}