/* Core variables */
@import "./src/main/resources/public/css/variables";

.new-analytic-overlay {
    h2 {
        font-size: 20px;
        margin: 0;
    }
    
    md-list {
        margin: 8px 0;
        max-height: 250px;
        overflow-y: auto;
        padding: 0;

        md-list-item.md-2-line.md-long-text {
            margin: 0;
        }
    }
}