/* Core variables */
@import "./src/main/resources/public/css/variables";

.resource-preview {
    padding: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;

    h1 {
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;

        span {
            font-size: 0.5em;
            vertical-align: middle;
        }
    }
    .description {
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
           -moz-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
    }
    .keywords {
        li {
            margin: 0 5px;
            float: left;
            color: $gray-dark;
            color: $gray-lighter;
        }
    }
}