<div class="overlay">
    <form name="vm.annotationForm" class="content clearfix" novalidate autocomplete="off">
        <div ng-if="!vm.editingAnnotation">
            <!-- section header -->
            <h6>Add Annotation</h6>

            <!-- annotation list -->
            <div class="form-group">
                <label class="control-label">Annotation</label>
                <ui-select ng-model="vm.selected.matonto.currentAnnotationSelect">
                    <ui-select-match placeholder="Select an annotation">{{vm.getItemIri($select.selected)}}</ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="annotation in vm.ontology.matonto.annotations | filter: $select.search | orderBy:vm.sortAnnotations">
                        <div ng-bind-html="annotation.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- key, if new -->
            <text-input ng-if="vm.selected.matonto.currentAnnotationSelect.localName === 'New Annotation'"
                        ng-model="vm.selected.matonto.currentAnnotationKey"
                        display-text="'Name'"
                        muted-text="'Must be a valid IRI'"></text-input>
        </div>

        <div ng-if="vm.editingAnnotation">
            <!-- section header -->
            <h6>Edit Annotation</h6>

            <!-- static text showing which annotation you are editing -->
            <div ng-if="vm.editingAnnotation" class="form-group">
                <label class="control-label">Name</label>
                <p class="form-control-static">{{vm.selected.matonto.currentAnnotationKey}}</p>
            </div>
        </div>

        <!-- value -->
        <text-area ng-model="vm.selected.matonto.currentAnnotationValue"
                   display-text="'Value'"></text-area>

        <!-- annotation buttons -->
        <div class="btn-container clearfix">
            <custom-button ng-if="!vm.editingAnnotation"
                           display-text="'Add'"
                           is-disabled-when="vm.annotationForm.$invalid || vm.selected.matonto.currentAnnotationSelect === 'default'"
                           on-click="vm.addAnnotation()"></custom-button>

            <custom-button ng-if="vm.editingAnnotation"
                           display-text="'Edit'"
                           is-disabled-when="vm.annotationForm.$invalid"
                           on-click="vm.editAnnotation()"></custom-button>

            <custom-button display-text="'Cancel'"
                           on-click="vm.showAnnotationOverlay = false;"
                           type="'secondary'"></custom-button>
        </div>
    </form>
</div>