/* Core variables */
@import "./src/main/resources/public/css/variables";

.annotation-block {
    /* Add annotation button styles */
    .btn-container {
        .btn-link {
            border: 0;
            padding: 0px;
            margin-bottom: 10px;

            /* Remove underline when hovered */
            &:hover {
                text-decoration: none;
            }
        }
    }

    /* Annotation styles */
    .annotation {
        border: 1px solid #ccc;
        cursor: default;
        font-size: 0;
        margin-bottom: 15px;
        position: relative;

        /* Spacing for the annotation header */
        h5 {
            border-bottom: 1px solid var(--light);
            cursor: pointer;
            margin: 0;
            padding: 8px;

            small {
                font-size: .875em;
            }
        }

        /* Contains the value of the annotation */
        .value-container {
            position: relative;

            /* Highlights the value you are hovering over */
            &:hover {
                background-color: var(--light);
            }

            /* Removes paragraph margin from the annotation value */
            span {
                display: inline-block;
                font-size: 14px;
                margin: 0;
                padding: 8px;
                vertical-align: top;
                width: -webkit-calc(100% - 62px);
                width:    -moz-calc(100% - 62px);
                width:         calc(100% - 62px);
            }

            /* Places the button in the top right corner */
            .btn {
                border: 0;
                padding: 8px 5px;

                /* Removes default padding from this button */
                .fa {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}