/* Core variables */
@import "./src/main/resources/public/css/variables";

.language-select {
    .ui-select-bootstrap .ui-select-choices-row.active > span .text-muted {
        color: #fff;
    }

    .flex-container {
        display: flex;

        .select-container {
            flex: 1;
        }

        .btn-clear {
            display: inline-block;
            line-height: 33px;
            margin-left: 8px;

            .fa {
                padding-right: 5px;
            }
        }
    }
}