/* Core variables */
@import "./src/main/resources/public/css/variables";

.activity-list {
    .activity {
        border-bottom: 1px solid $gray-lighter;

        .title {
            font-weight: bold;
            font-size: 16px;
            // display: inline-block;
            word-break: break-all;
        }
        .timestamp {
            float: right;
            font-weight: normal;
            font-size: 14px;
            margin-left: 15px;
        }
    }
    .paging-container {
        padding: 0 15px;

        .paging-details {
            float: left;

            p {
                line-height: 34px;
                margin: 0;
            }
        }
        .page-count {
            float: left;
            font-size: 1.125em;
            line-height: 34px;
            margin: 0;
        }
        .page-nav {
            float: right;

            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}