/* Core variables */
@import "./src/main/resources/public/css/variables";

.rdf-preview-form {
	display: flex;
	flex-direction: column;

    .codemirror-wrapper {
        flex: 1;
        min-height: 0;
        position: relative;

        .CodeMirror {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border: 1px solid #ccc;
            height: auto;

			.CodeMirror-cursor {
				display: none !important
			}
        }
    }
    .select-container {
    	display: flex;

    	.mapper-serialization-select {
    		flex: 1;
    	}
        button {
            margin-left: 5px;
        }
    }
}