/* Core variables */
@import "./src/main/resources/public/css/variables";

.axiom-overlay {
    .CodeMirror {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        font-family: inherit;
    }
}