/* Core variables */
@import "./src/main/resources/public/css/variables";

.mapping-title {
    h3 {
        @include textOverflow;
        position: relative;
        padding-right: 30px;
        max-width: 100%;
        display: inline-block;

        a {
            position: absolute;
            right: 0;
        }
    }
}