/* Core variables */
@import "./src/main/resources/public/css/variables";

.tab {
    height: 100%;

    .actions {
        background: white;
        box-shadow: 5px 5px 5px 0px $gray-light;
        height: 52px;
        text-align: center;

        a,
        .header {
            border-bottom: 2px solid transparent;
            color: $gray-lighter;
            display: inline-block;
            font-size: 1.125em;
            padding: 15px 15px 13px;

            &.active {
                border-color: $brand-primary;
                color: black;
            }
        }
    }

    > .row {
        height: 100%;
        margin: 0;
        padding: 15px 0;
        width: 100%;
    }

    .row > * {
        display: flex;
        flex-direction: column;
        height: 100%;

        > .row {
            flex: 1;
            min-height: 0;
        }

        .vertical-half {
            flex: 1;
            min-height: 0;
            padding: 15px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}