/* Core variables */
@import "./src/main/resources/public/css/variables";

.block .block-header {
    border-bottom: 1px solid var(--light-dark);

    button.btn-link {
    	padding: 0;
    	outline: none;
    }
}