<form name="vm.propertyForm" class="clearfix" novalidate autocomplete="off">
    <!-- property editor tabs -->
    <div class="btn-group btn-group-justified" role="group">
        <a class="btn btn-primary"
           ng-class="{'active': vm.state.editorTab === 'basic'}"
           ng-click="vm.setEditorTab('basic');"><small>{{vm.selected['@id'] ? (vm.selected[vm.rdfs + 'label'][0]['@value'] || vm.selected['@id']) : 'New Property'}}</small></a>
        <a class="btn btn-primary"
           ng-class="{'active': vm.state.editorTab === 'axioms'}"
           ng-click="vm.setEditorTab('axioms');"><small>Axioms</small></a>
        <a class="btn btn-primary"
           ng-class="{'active': vm.state.editorTab === 'annotations'}"
           ng-click="vm.setEditorTab('annotations');"><small>Annotations</small></a>
    </div>

    <!-- basic tab -->
    <div ng-show="vm.state.editorTab === 'basic'" class="tab clearfix">
        <!-- static iri -->
        <static-iri></static-iri>

        <!-- rdfs:label -->
        <text-input ng-model="vm.selected[vm.rdfs + 'label'][0]['@value']" display-text="'Label'" muted-text="vm.rdfs + 'label'" change-event="vm.entityChanged()"></text-input>

        <!-- rdfs:comment -->
        <text-area ng-model="vm.selected[vm.rdfs + 'comment'][0]['@value']" display-text="'Comment'" muted-text="vm.rdfs + 'comment'" change-event="vm.entityChanged()"></text-area>

        <!-- http://www.w3.org/1999/02/22-rdf-syntax-ns#type(s) -->
        <div class="form-group">
            <label class="control-label">Type <small class="text-muted">&lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#type&gt;</small></label>
            <!--p class="form-control-static"><span ng-repeat="type in vm.selected['@type']">{{type}}{{$last ? '' : ', '}}</span></p-->
            <ui-select ng-model="vm.selected['@type'][0]" search-enabled="false" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                <ui-select-match placeholder="Select Type">
                    <span title="{{$item}}">{{($select.selected | splitIRI).end}}</span>
                </ui-select-match>
                <ui-select-choices repeat="type in vm.propertyTypes | filter:$select.search">
                    <div ng-bind-html="(type | splitIRI).end | trusted"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>

    <!-- axioms tab -->
    <div ng-show="vm.state.editorTab === 'axioms'" class="tab clearfix">
        <!-- rdfs:domain -->
        <div class="form-group">
            <label class="control-label">Domain <small class="text-muted">&lt;{{vm.rdfs}}domain&gt;</small></label>
            <ui-select multiple ng-model="vm.selected[vm.rdfs + 'domain']">
                <ui-select-match placeholder="Select Domain">
                    <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                </ui-select-match>
                <ui-select-choices group-by="vm.getItemNamespace" repeat="class in vm.ontology.matonto.subClasses | filter:{'localName':$select.search}">
                    <div ng-bind-html="class.localName | highlight:$select.search | trusted"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <!-- object property -->
        <div ng-if="vm.isObjectProperty()">
            <!-- rdfs:range -->
            <div class="form-group">
                <label class="control-label">Range <small class="text-muted">&lt;{{vm.rdfs}}range&gt;</small></label>
                <ui-select multiple ng-model="vm.selected[vm.rdfs + 'range']">
                    <ui-select-match placeholder="Select Domain">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="class in vm.ontology.matonto.objectPropertyRange | removeIriFromArray:vm.selected[vm.rdfs + 'range'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="class.localName | highlight:$select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- owl:equivalentProperty -->
            <div class="form-group">
                <label class="control-label">Equivalent Property <small class="text-muted">&lt;{{vm.owl}}equivalentProperty&gt;</small></label>
                <ui-select multiple ng-disabled="vm.state.editorTab !== 'axioms'" ng-model="vm.selected[vm.owl + 'equivalentProperty']" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                    <ui-select-match placeholder="Equivalent Property">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subObjectProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.owl + 'equivalentProperty'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight:$select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- rdfs:subPropertyOf -->
            <div class="form-group">
                <label class="control-label">Sub Property Of <small class="text-muted">&lt;{{vm.rdfs}}subPropertyOf&gt;</small></label>
                <ui-select multiple ng-model="vm.selected[vm.rdfs + 'subPropertyOf']">
                    <ui-select-match placeholder="Select Property">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subObjectProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.rdfs + 'subPropertyOf'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- owl:inverseOf -->
            <div class="form-group">
                <label class="control-label">Inverse Of <small class="text-muted">&lt;{{vm.owl}}inverseOf&gt;</small></label>
                <ui-select multiple ng-disabled="vm.state.editorTab !== 'axioms'" ng-model="vm.selected[vm.owl + 'inverseOf']" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                    <ui-select-match placeholder="Inverse Of">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subObjectProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.owl + 'inverseOf'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- owl:disjointWith -->
            <div class="form-group">
                <label class="control-label">Disjoint With <small class="text-muted">&lt;{{vm.owl}}disjointWith&gt;</small></label>
                <ui-select multiple ng-disabled="vm.state.editorTab !== 'axioms'" ng-model="vm.selected[vm.owl + 'disjointWith']" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                    <ui-select-match placeholder="Disjoint With">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subObjectProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.owl + 'disjointWith'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <!-- datatype property -->
        <div ng-if="!vm.isObjectProperty()">
            <!-- rdfs:range -->
            <div ng-if="!vm.isObjectProperty()" class="form-group">
                <label class="control-label">Range <small class="text-muted">&lt;{{vm.rdfs}}range&gt;</small></label>
                <ui-select multiple ng-model="vm.selected[vm.rdfs + 'range']">
                    <ui-select-match placeholder="Select Domain">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="class in vm.ontology.matonto.dataPropertyRange | removeIriFromArray:vm.selected[vm.rdfs + 'range'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="class.localName | highlight:$select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- owl:equivalentProperty -->
            <div class="form-group">
                <label class="control-label">Equivalent Property <small class="text-muted">&lt;{{vm.owl}}equivalentProperty&gt;</small></label>
                <ui-select multiple ng-disabled="vm.state.editorTab !== 'axioms'" ng-model="vm.selected[vm.owl + 'equivalentProperty']" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                    <ui-select-match placeholder="Equivalent Property">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subDataProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.owl + 'equivalentProperty'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight:$select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- rdfs:subPropertyOf -->
            <div class="form-group">
                <label class="control-label">Sub Property Of <small class="text-muted">&lt;{{vm.rdfs}}subPropertyOf&gt;</small></label>
                <ui-select multiple ng-model="vm.selected[vm.rdfs + 'subPropertyOf']">
                    <ui-select-match placeholder="Select Property">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subDataProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.rdfs + 'subPropertyOf'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <!-- owl:disjointWith -->
            <div class="form-group">
                <label class="control-label">Disjoint With <small class="text-muted">&lt;{{vm.owl}}disjointWith&gt;</small></label>
                <ui-select multiple ng-disabled="vm.state.editorTab !== 'axioms'" ng-model="vm.selected[vm.owl + 'disjointWith']" on-select="vm.entityChanged()" on-remove="vm.entityChanged()">
                    <ui-select-match placeholder="Disjoint With">
                        <span title="{{$item['@id'] || vm.getItemIri($item)}}">{{$item['@id'] ? ($item['@id'] | splitIRI).end : $item.localName}}</span>
                    </ui-select-match>
                    <ui-select-choices group-by="vm.getItemNamespace" repeat="property in vm.ontology.matonto.subDataProperties | removeIriFromArray:vm.selected['@id'] | removeIriFromArray:vm.selected[vm.owl + 'disjointWith'] | filter:{'localName':$select.search}">
                        <div ng-bind-html="property.localName | highlight: $select.search | trusted"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <!-- annotations tab -->
    <div ng-show="vm.state.editorTab === 'annotations'" class="tab clearfix">
        <div ng-include="'annotations-template'"></div>
    </div>
</form>