<li>
    <a ng-click="onClick()"
       ng-class="{'unsaved': ontology.matonto.unsaved, 'active': isActive}">
        <i class="fa fa-fw"
           ng-class="{'fa-minus-square-o': isOpened, 'fa-plus-square-o': !isOpened}"
           ng-click="isOpened = !isOpened; $event.stopPropagation();"
        ></i>{{currentEntity[currentOntology.matonto.rdfs + 'label'][0]['@value'] || ((currentEntity['@id'] | splitIRI).end | beautify)}}
        <i ng-show="ontology.matonto.unsaved" class="fa fa-exclamation unsaved-icon pull-right"></i>
    </a>
</li>