/* Core variables */
@import "./src/main/resources/public/css/variables";

.commit-info-overlay {
    h3 {
        margin-top: 0;
    }
    .main {
        height: 400px;
        overflow-y: auto;

        .changes-container {
            flex: 1;
        }
    }
}