/* Core variables */
@import "./src/main/resources/public/css/variables";

.commit-history-table {
    circle {
        cursor: pointer;
    }
    .wrapper {
        position: relative;

        svg {
            position: absolute;
        }
        table {
            td.fit, th.fit {
                width: 1%;
                white-space: nowrap;
            }
            td {
                height: 50px;
                vertical-align: middle;
            }
            .commit-id {
                font-family: 'courier';
            }
            .commit-message {
                position: relative;

                div {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    span {
                        padding: 8px;
                        display: block;
                        position: relative;
                        @include textOverflow;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                    }
                }
            }
        }
    }
}