/* Core variables */
@import "./src/main/resources/public/css/variables";

.ontology-tab {
    height: 100%;
    position: relative;

    .main-tabs {
        height: 100%;
    }
    .saved-text {
        position: absolute;
        right: 15px;
        top: 16px;
    }
}