/* Core variables */
@import "./src/main/resources/public/css/variables";

.create-request-tabset {
    .block-footer {
        position: relative;

        .progress-bar-container {
            max-width: 300px;
            margin: 0 auto;

            .progress {
                margin-bottom: 0;
            }
        }
        @media (max-width: 1200px) {
            .btn-container {
                position: relative !important;
                right: auto !important;
                top: auto !important;
                transform: none !important;

                .btn-primary {
                    float: right;
                }
                .btn-default {
                    float: left;
                }
            }
        }
        .btn-container {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);

            button {
                margin-left: 10px;
            }
        }
    }
}