<div class="overlay" ng-init="iri = (vm.selected.matonto.namespace ? (vm.selected.matonto.namespace + vm.selected['@id']) : vm.selected['@id'] | splitIRI);
                              vm.iriBegin = iri.begin;
                              vm.iriThen = iri.then;
                              vm.iriEnd = iri.end || (vm.selected[vm.rdfs + 'label'][0]['@value'] | camelCase:vm.iriType);
                              vm.iriUpdate = true;">
    <form name="vm.iriForm" class="content clearfix" novalidate autocomplete="off"
          ng-submit="vm.editIRI();">
        <!-- section header -->
        <h6>Edit IRI</h6>
        <!-- Begins with -->
        <div ng-class="{'has-error': vm.iriForm.iriBegin.$invalid}" class="form-group">
            <label class="control-label" for="iriBegin">Begins with</label>
            <input class="form-control" id="iriBegin" name="iriBegin" ng-model="vm.iriBegin" ng-pattern="/^[^:\/?#]+:\/\/[^\/?#]*[^#\s]*[^#:\/\s]$/" required />
            <!--p class="error-msg" ng-if="vm.iriForm.iriBegin.$invalid">This IRI is invalid.</p-->
        </div>
        <!-- Then -->
        <div class="form-group">
            <label class="control-label" for="iriThen">Then</label>
            <select class="form-control" id="iriThen" name="iriThen" ng-model="vm.iriThen">
                <option value="#">#</option>
                <option value="/">/</option>
                <option value=":">:</option>
            </select>
        </div>
        <!-- Ends with -->
        <div ng-class="{'has-error': vm.iriForm.iriEnd.$invalid}" class="form-group">
            <label class="control-label" for="iriEnd">Ends with</label>
            <input class="form-control" id="iriEnd" name="iriEnd" ng-pattern="/^[a-zA-Z0-9-_]+$/" required ng-model="vm.iriEnd" ng-trim="false" />
            <!--p class="error-msg" ng-if="vm.iriForm.iriEnd.$invalid">This localname is invalid.</p-->
        </div>
        <!-- Update references -->
        <div class="checkbox">
            <label>
                <input type="checkbox" id="iriUpdate" ng-model="vm.iriUpdate" /> Update all entities that referenced this IRI.
            </label>
        </div>
        <!-- buttons -->
        <div class="btn-container clearfix">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="vm.iriForm.$invalid"><i class="fa fa-pencil fa-fw"></i>Edit</button>
            <button type="button" class="btn btn-default pull-right" ng-click="vm.showIriOverlay = false;">Cancel</button>
        </div>
    </form>
</div>