<div class="overlay">
    <form name="vm.iriForm" class="content clearfix" novalidate autocomplete="off">
        <!-- section header -->
        <h6>Edit IRI</h6>
        <!-- Begins with -->
        <div ng-class="{'has-error': vm.iriForm.iriBegin.$invalid}" class="form-group">
            <label class="control-label" for="iriBegin">Begins with</label>
            <input class="form-control" id="iriBegin" name="iriBegin" ng-model="vm.iriBegin" ng-pattern="dvm.getNamespacePattern()" required />
            <p ng-messages="vm.iriForm.iriBegin.$error" class="error-msg">
                <ng-message when="required">Field cannot be empty.</ng-message>
                <ng-message when="pattern">Value is not a valid namespace.</ng-message>
            </p>
        </div>
        <!-- Then -->
        <div class="form-group">
            <label class="control-label" for="iriThen">Then</label>
            <select class="form-control" id="iriThen" name="iriThen" ng-model="vm.iriThen">
                <option value="#">#</option>
                <option value="/">/</option>
                <option value=":">:</option>
            </select>
        </div>
        <!-- Ends with -->
        <div ng-class="{'has-error': vm.iriForm.iriEnd.$invalid}" class="form-group">
            <label class="control-label" for="iriEnd">Ends with</label>
            <input class="form-control" id="iriEnd" name="iriEnd" ng-model="vm.iriEnd" ng-pattern="/^[a-zA-Z0-9-_]+$/" required />
            <p ng-messages="vm.iriForm.iriEnd.$error" class="error-msg">
                <ng-message when="required">Field cannot be empty.</ng-message>
                <ng-message when="pattern">Value is not a valid namespace.</ng-message>
            </p>
        </div>
        <!-- buttons -->
        <div class="btn-container clearfix">
            <custom-button is-disabled-when="vm.iriForm.$invalid" on-click="vm.entityChanged(); vm.editIRI();">Edit</custom-button>

            <custom-button on-click="vm.showIriOverlay = false;" type="'secondary'">Cancel</custom-button>
        </div>
    </form>
</div>