/* Core variables */
@import "./src/main/resources/public/css/variables";

.static-iri {
    strong {
        cursor: pointer;
        word-break: break-all;

        a {
            white-space: nowrap;
        }
    }
    .duplicate-iri {
        border-bottom: solid red 1px;
    }
}

.overlay .static-iri strong {
    display: inline-block;
    margin-bottom: 10px;
}