/* Core variables */
@import "./src/main/resources/public/css/variables";

.analytics-landing-page {
    display: flex;
    flex-direction: column;
    
    .white-bar .form-inline {
        padding: 9px 0;
    }

    .row {
        flex: 1;
        min-height: 0;
        padding: 15px 0;
        
        .block-header {
            font-size: 18px;
            line-height: 34px;
        }

        md-list {
            padding: 0;

            .analytic {
                border-bottom: 1px solid $gray-custom;
                display: flex;

                &:hover {
                    background-color: $gray-lighter;
                }

                .title {
                    flex: 1;
                    font-size: 16px;
                }

                .time {
                    color: $gray-light;
                    flex: none;
                }

                .title,
                .time {
                    line-height: 22px;
                }
            }
        }
    }
}