/* Core variables */
@import "./src/main/resources/public/css/variables";

.users-list {
    .users {
        tr {
            &:hover {
                cursor: pointer;
            }
            td {
                &:first-child {
                    width: 15%;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}
