/* Core variables */
@import "./src/main/resources/public/css/variables";

.permissions-page {
    .policy {
        margin: 0;
    }
    .save-container {
        height: auto;
        bottom: 25px;
        position: absolute;
        right: 25px;
        z-index: 5001;
    }
}