<li ng-class="{'invalid': !currentEntity.matonto.isValid}">
    <a ng-if="!hasChildren"
       ng-click="onClick()"
       ng-class="{'unsaved': currentEntity.matonto.unsaved, 'active': isActive}">
        <i class="fa fa-fw {{currentEntity.matonto.icon}}" ng-class="{'fa-square-o': !currentEntity.matonto.icon}"
        ></i>{{dvm.getTreeDisplay(currentEntity)}}
        <i ng-show="currentEntity.matonto.unsaved" class="fa fa-check unsaved-icon pull-right"></i>
    </a>
    <a ng-if="hasChildren"
       ng-click="onClick()"
       ng-dblclick="dvm.toggleOpen()"
       ng-class="{'unsaved': currentEntity.matonto.unsaved, 'active': isActive}">
        <i class="fa fa-fw"
           ng-class="{'fa-minus-square-o': dvm.isOpened, 'fa-plus-square-o': !dvm.isOpened}"
           ng-click="dvm.toggleOpen(); $event.stopPropagation();"
        ></i>{{dvm.getTreeDisplay(currentEntity)}}
        <i ng-show="currentEntity.matonto.unsaved" class="fa fa-check unsaved-icon pull-right"></i>
    </a>
</li>