/* Core variables */
@import "./src/main/resources/public/css/variables";

.mapping-config-overlay {
	.content {
        .row {
            margin: 0 -10px 10px;
        }
        .form-group {
            clear: both;
        }
        .ontology-record-info {
            overflow-y: auto;
            max-height: 300px;
        }
        .page-nav {
            float: right;

            .pagination {
                margin: 0;
            }
        }
        .paging-details {
            float: left;
        }
        .ontology-records-list {
            height: 100px;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow-y: auto;

            .list-group-item {
                outline: 0;
                border-radius: 0;
            }
        }
	}
}