/* Core variables */
@import "./src/main/resources/public/css/variables";

mapping-config-overlay {
    .form-group {
        clear: both;
    }
	.entity-dates .date {
		display: block;
	}
    .page-nav {
        float: right;

        .pagination {
            margin: 0;
        }
    }
    .paging-details {
        float: left;
    }
    .ontology-records-list {
        height: 100px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow-y: auto;

        .list-group-item {
            outline: 0;
            border-radius: 0;
        }
    }
}