<div id="starting-class-select-overlay" class="overlay lg">
    <form class="content">
        <h6>Choose Starting Class</h6>
        <div id="class-select" class="form-group">
            <select class="form-control" ng-model="dvm.selectedClassId">
                <option ng-repeat="classObj in dvm.getClasses(dvm.ontologyId)" value="{{classObj['@id']}}">{{dvm.createOptionName(classObj)}}</option>
            </select>
        </div>
        <class-preview class-obj="dvm.getClass(dvm.ontologyId, dvm.selectedClassId)"></class-preview>
        
        <div class="overlay-button-container">
            <custom-button on-click="onClickBack()" pull="'left'">Back</custom-button>
            <custom-button on-click="onClickContinue({classId: dvm.selectedClassId})" is-disabled-when="!dvm.selectedClassId">Continue</custom-button>
        </div>
    </form>
</div>