/* Core variables */
@import "./src/main/resources/public/css/variables";

.spinner {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9001;

    /* spinner icon styles */
    .icon-wrapper {
        left: 50%;
        position: absolute;
        top: 50%;

        -webkit-transform: translate(-50%, -50%);
           -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}