/* Core variables */
@import "./src/main/resources/public/css/variables";

.datasets-list {
    flex: 1;
    min-height: 0;
    margin: 0;
    padding: 15px 0;

    .col-xs-8 {
        display: flex;
        flex-direction: column;
    }
    .dataset {
        border-bottom: 1px solid $gray-lighter;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: $gray-lighter;
        }
        .record-keywords {
            margin-bottom: 0;
        }
        .header {
            margin-bottom: 0;

            i {
                width: 0.8em;
            }
        }
        p {
            margin: 0;
        }
        .action-container {
            float: right;

            .action {
                color: $gray-light;
                display: inline-block;
                text-decoration: none;

                &:hover {
                    color: $gray;
                }
            }
        }
        .description {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &.open {
            .description {
                text-overflow: clip;
                white-space: normal;
                overflow: visible;
            }
        }
    }
    .paging-container {
        padding: 0 15px;

        .paging-details {
            float: left;

            p {
                line-height: 34px;
                margin: 0;
            }
        }
        .page-count {
            float: left;
            font-size: 1.125em;
            line-height: 34px;
            margin: 0;
        }
        .page-nav {
            float: right;

            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}