<div class="tree everything-tree scroll-without-buttons">
    <!-- tree view -->
    <strong>Everything</strong>
    <!-- start ontologies -->
    <ul ng-repeat="(oi, ontology) in vm.ontologies" ng-init="opened = (vm.state.oi === oi && vm.state.ci !== undefined)">
        <tree-item current-entity="ontology"
                   current-ontology="ontology"
                   is-active="vm.state.oi === $index && (vm.state.ci === undefined || vm.state.ci === -1) && vm.state.pi === undefined"
                   is-opened="opened"
                   on-click="vm.selectItem('ontology-editor', $index)"
                   has-children="!!ontology.matonto.classes.length || !!ontology.matonto.noDomains.length"></tree-item>

        <li class="container" ng-show="opened">
            <!-- start classes -->
            <ul ng-repeat="(ci, class) in ontology.matonto.classes" ng-init="subOpened = (vm.state.ci === ci && vm.state.pi !== undefined)">
                <tree-item current-entity="class"
                           current-ontology="ontology"
                           is-active="vm.state.oi === oi && vm.state.ci === $index && (vm.state.pi === undefined || vm.state.pi === -1)"
                           is-opened="subOpened"
                           on-click="vm.selectItem('class-editor', oi, $index)"
                           has-children="class.matonto.properties.length"></tree-item>

                <li class="container" ng-show="subOpened">
                    <!-- start properties -->
                    <ul>
                        <tree-item ng-repeat="property in class.matonto.properties"
                                   current-entity="property"
                                   current-ontology="ontology"
                                   is-active="vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === $index"
                                   on-click="vm.selectItem('property-editor', oi, ci, $index)"></tree-item>
                    </ul>
                </li>
            </ul>

            <!-- start no domains (these will be handled differently later) -->
            <ul ng-if="ontology.matonto.noDomains.length" ng-init="opened = false;">
                <li>
                    <a ng-click="opened = !opened; $event.stopPropagation();">
                        <i class="fa fa-fw"
                           ng-class="{'fa-folder-open-o': opened, 'fa-folder-o': !opened}"></i>Properties
                    </a>
                </li>
                <!-- properties without domains -->
                <li class="container" ng-show="opened">
                    <ul>
                        <tree-item ng-repeat="property in ontology.matonto.noDomains"
                                   current-entity="property"
                                   current-ontology="ontology"
                                   is-active="vm.state.oi === oi && vm.state.ci === ci && vm.state.pi === $index"
                                   on-click="vm.selectItem('property-editor', oi, undefined, $index)"></tree-item>
                    </ul>
                </li>
            </ul>

        </li>
    </ul>
    <!-- end ontologies -->
</div>
