/* Core variables */
@import "./src/main/resources/public/css/variables";

.static-iri {
    padding-bottom: 5px;
    display: inline-block;

    strong {
        word-break: break-all;

        a {
            white-space: nowrap;
        }
    }
    .duplicate-iri {
        border-bottom: solid red 1px;
    }
}
