/* Core variables */
@import "./src/main/resources/public/css/variables";

.open-ontology-tab {
    .actions {
        height: 48px;

        .form-inline {
            padding: 7px;
        }
    }
    .list {
        flex: 1;
        min-height: 0;
        padding: 15px 0;

        .open-ontology-content {
            .ontologies {
                min-height: 0;
                padding: 15px;

                .ontology {
                    border-bottom: 1px solid var(--light);
                    padding: 10px;

                    &:last-child {
                        border-bottom: none;
                    }

                    .ontology-info {
                        cursor: pointer;
                        .details {
                            .header {
                                font-size: 1.25em;
                                font-weight: normal;
                                margin: 0 0 5px;
                            }
                        }

                        &:hover {
                            background-color: var(--light);
                        }
                    }

                    .action-container {
                        .action {
                            text-decoration: none;

                            &:hover {
                                color: var(--gray) !important;
                            }
                        }
                    }

                    .access-controls .record-action {
                        padding: 5px 0 0 20px;
                    }
                }
            }
        }
        .paging-container {
            padding: 0 15px;

            .paging-details {
                p {
                    line-height: 34px;
                    margin: 0;
                }
            }
            .page-nav {
                .pagination {
                    margin: 0;
                    vertical-align: bottom;
                }
            }
        }
    }
}