/* Core variables */
@import "./src/main/resources/public/css/variables";

.open-ontology-tab {
    .ontologies {

        .ontology {
            border-bottom: 1px solid var(--light);
            cursor: pointer;
            padding: 10px 0 10px 10px;

            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background-color: var(--light);
            }
            .details {
                .header {
                    font-size: 1.25em;
                    font-weight: normal;
                    margin: 0 0 5px;
                }
            }
            .action-container {
                .action {
                    text-decoration: none;

                    &:hover {
                        color: var(--gray) !important;
                    }
                }
            }
        }
    }
    .paging-container {
        .paging-details {
            p {
                line-height: 34px;
                margin: 0;
            }
        }
        .page-nav {
            .pagination {
                margin: 0;
                vertical-align: bottom;
            }
        }
    }
}