/* Core variables */
@import "./src/main/resources/public/css/variables";

.block {
    background: #FFF;
    box-shadow: 5px 5px 5px 0px var(--light-dark);
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;

    .block-header,
    .block-footer {
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        padding: 10px;

        a i,
        .btn-link i {
            padding-right: 5px;
        }
    }
}