<div class="file-upload-overlay overlay xl">
    <form class="content" name="dvm.fileForm">
        <h6>Choose Delimited File</h6>
        <div class="form-group">
            <file-input ng-model="dvm.csv.fileObj" accept=".csv,.xls,.xlsx,.tsv" required></file-input>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="dvm.csv.containsHeaders">Contains headers</input>
        </div>
        <div ng-if="dvm.csv.fileObj && !dvm.isExcel()" class="form-group form-inline">
            <h4>Separator</h4>
            <div class="radio"><label>
                <input type="radio" ng-value="','" ng-model="dvm.csv.separator"/>
                Comma
            </label></div>
            <div class="radio"><label>
                <input type="radio" ng-value="'\t'" ng-model="dvm.csv.separator"/>
                Tab
            </label></div>
            <div class="radio"><label>
                <input type="radio" ng-value="':'" ng-model="dvm.csv.separator"/>
                Colon
            </label></div>
        </div>
        <div class="upload-btn form-group btn-container float-container">
            <custom-button on-click="dvm.upload()" pull="'left'" is-disabled-when="!dvm.csv.fileObj" aria-describedby="form-help-block">{{!dvm.fileForm.$error.fileUploaded ? 'Update' : 'Upload'}}</custom-button>
            <span id="form-help-block" class="help-block" ng-if="!dvm.fileForm.$error.fileUploaded">Click update with desired changes or click continue.</span>
        </div>
        <p ng-if="dvm.fileForm.$error.fileUploaded" class="error-msg">{{dvm.errorMessage}}</p>
        <div ng-if="dvm.state.invalidProps.length" class="invalid-props">
            <h3 class="text-danger">Missing Columns</h3>
            <ul>
                <li ng-repeat="columnObj in dvm.state.invalidProps">
                    Column {{columnObj.index + 1}} - {{dvm.getDataMappingName(columnObj['@id'])}}
                </li>
            </ul>
        </div>
        
        <div class="btn-container clearfix">
            <p ng-if="!dvm.state.newMapping" class="help-block">Any changes to the mapping will create a new mapping with a timestamped name</p>
            <custom-button on-click="dvm.cancel()" type="'secondary'" pull="'left'">{{dvm.state.newMapping ? 'Back' : 'Cancel'}}</custom-button>
            <custom-button on-click="dvm.continue()" is-disabled-when="dvm.fileForm.$invalid">{{dvm.state.invalidProps.length ? 'Fix' : 'Continue'}}</custom-button>
        </div>
    </form>
</div>