/* Core variables */
@import "./src/main/resources/public/css/variables";

.tabset {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    > .tabset-headings {
        height: 48px;

        a {
            background-color: $gray-lighter;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: black;
            display: inline-block;
            font-size: 1.125em;
            margin: 12px 0 0 8px;
            padding: 7px 15px;
            text-decoration: none;
            @include noCopy();

            &.active {
                background-color: white;
            }

            i {
                margin-left: 10px;
            }
        }
    }
    > .tabset-contents {
        flex: 1;
        height: 0;
    }

    &.centered {
        > .tabset-headings {
            background: white;
            box-shadow: 5px 5px 5px 0px $gray-light;
            height: 52px;
            text-align: center;

            a {
                background-color: white;
                border-bottom: 2px solid transparent;
                border-radius: 0;
                color: $gray-light;
                margin: 0;
                padding: 15px 15px 13px;

                &.active {
                    border-color: $brand-primary;
                    color: black;
                }
            }
        }
    }
}