/* Core variables */
@import "./src/main/resources/public/css/variables";

.class-and-property-block {
    .block-content {
        display: flex;
        flex-direction: column;

        .list-container {
            flex: 1;
            overflow-y: auto;

            &:first-child {
                border-bottom: 1px solid $gray-light;
            }
            h1 {
                font-size: 20px;
                margin-top: 0;
            }
            md-list-item {
                height: 26px;
                min-height: 0;

                &[disabled] {
                    color: $gray-light;
                }
                &:not([disabled]):hover {
                    background-color: $gray-custom;
                    cursor: pointer;
                }
                .item-name {
                    @include textOverflow;
                }
            }
        }
    }
}