/* Core variables */
@import "./src/main/resources/public/css/variables";

.commit-changes-display {
    .property-values {
        margin: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        .value-container {
            &:hover {
                background-color: #fff;
            }
        }
    }
}