/* Core variables */
@import "./src/main/resources/public/css/variables";

.create-property-overlay {
    p.identifier {
        margin: 0;
    }
    .form-body {
        max-height: 500px;
        overflow-y: auto;
    }
}