/* Core variables */
@import "./src/main/resources/public/css/variables";

.mapping-list {
    &.tree a {
        display: inherit;
    }
    ul {
        margin-top: 10px;
    }
    .list-title {
        padding: 10px;
        text-align: center;
    }
}