/* Core variables */
@import "./src/main/resources/public/css/variables";

.usages-block {
    .usages-container {
        min-height: 200px;
    }
    .predicate {
        color: #08B36E;
    }
    .text-center {
        padding-bottom: 10px;
    }
}