/* Core variables */
@import "./src/main/resources/public/css/variables";

.block .block-footer {
    border-top: 1px solid $gray-custom;

    &.centered {
        text-align: center;
    }
    button.btn-link {
    	padding: 0;
    	outline: none;
    }
}