/* Core variables */
@import "./src/main/resources/public/css/variables";

.commit-difference-tabset {
    .tabset {
        .tab {
            height: auto;
            font-size: 14px;
        }
        .tabset-headings {
            border-top: 1px solid var(--light-dark);
            height: auto !important;

            .heading {
                line-height: 18px !important;
            }
        }
        > .tabset-contents {
            overflow-y: auto;
            padding: 15px;
        }
        .property-values {
            margin-bottom: 0px;
            margin-top: 15px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}