/* Core variables */
@import "./src/main/resources/public/css/variables";

.file-preview-table {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 0px;

    background-color: #fff;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 10%;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
    
    &.big {
        min-height: 100%;
        max-height: 100%;
    }
    .clickable {
        cursor: pointer;
    }
    .disabled {
        cursor: not-allowed;
    }
    .toggle-table {
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: transparent;
        border: 1px solid $gray-light;
        color: $gray-light;

        &:hover {
            border-width: 2px;
            background-color: $gray-lighter;
        }
        &.opposite {
            border: 1px solid #fff;
            color: #fff;
        }
    }
    .table {
        width: 100%;
        margin-bottom: 0;

        th {
            background-color: $gray-lighter;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.highlight {
                background-color: $gray-light;
            }
        }
        td {
            text-overflow: ellipsis;
            white-space: nowrap;

            &.highlight {
                background-color: $gray-lighter;
            }
        }
    }
}