/* Core variables */
@import "./src/main/resources/public/css/variables";

.circle-button-stack {
    width: $circle-button-width;

    .btn-circle {
        margin-top: 15px;
    }

    .hidden-buttons {
        display: none;

        .btn.small {
            margin-left: 4px;
        }
    }

    &:hover {
        .base-btn {
            display: none;
        }

        .hidden-buttons {
            display: block;
        }
    }
}