<form id="file-form">
    <div class="form-group">
        <h3>Choose Delimited File</h3>
        <file-input ng-model="dvm.delimitedFile" accept=".csv,tsv"></file-input>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="dvm.containsHeaders">Contains headers</input>
    </div>
    <div class="form-group form-inline">
        <h4>Separator</h4>
        <p class="help-block">Choice is saved in mapping</p>
        <div class="radio"><label>
            <input type="radio" ng-value="','" ng-model="dvm.separator"/>
            Comma
        </label></div>
        <div class="radio"><label>
            <input type="radio" ng-value="'\t'" ng-model="dvm.separator"/>
            Tab
        </label></div>
        <div class="radio"><label>
            <input type="radio" ng-value="':'" ng-model="dvm.separator"/>
            Colon
        </label></div>
    </div>
    <button id="upload-btn" type="button" class="btn btn-primary" 
        ng-disabled="!dvm.delimitedFile" 
        ng-click="dvm.uploaded = true; onUploadClick()">{{dvm.uploaded ? 'Update' : 'Upload'}}</button>
    <button id="continue-btn" type="button" class="btn btn-primary" 
        ng-show="dvm.uploaded" 
        ng-click="onContinueClick()">Continue</button>
    <p class="help-block" ng-if="dvm.uploaded">Click update with desired changes or click continue.</p>
</form>