<div class="tree scroll-without-buttons">
    <!-- property view -->
    <strong>{{headerText}}</strong>
    <ul ng-repeat="(oi, ontology) in $parent.vm.ontologies" ng-init="opened = (dvm.state.oi === oi)">
        <tree-item current-entity="ontology"
                   current-ontology="ontology"
                   is-opened="opened"
                   has-children="dvm.hasChildren(ontology)"></tree-item>

        <li class="container" ng-show="opened">
            <!-- properties associated with classes -->
            <ul ng-repeat="(ci, class) in ontology.matonto.classes">
                <tree-item ng-repeat="property in class.matonto.properties"
                           current-entity="property"
                           current-ontology="ontology"
                           is-active="dvm.state.oi === oi && dvm.state.ci === ci && dvm.state.pi === $index"
                           on-click="dvm.selectItem('property-editor', oi, ci, $index)"
                           ng-if="dvm.isThisType(property, dvm.propertyType)"></tree-item>
            </ul>

            <!-- properties not associated with classes -->
            <ul>
                <tree-item ng-repeat="property in ontology.matonto.noDomains"
                           current-entity="property"
                           current-ontology="ontology"
                           is-active="dvm.state.oi === oi && dvm.state.ci === undefined && dvm.state.pi === $index"
                           on-click="dvm.selectItem('property-editor', oi, undefined, $index)"
                           ng-if="dvm.isThisType(property, dvm.propertyType)"></tree-item>
            </ul>
        </li>
    </ul>
</div>