<form name="vm.classForm" class="clearfix" novalidate autocomplete="off">
    <!-- tab buttons -->
    <tab-button-container>
        <tab-button is-active="vm.state.editorTab === 'basic'"
                    on-click="vm.setEditorTab('basic')">{{vm.prettyPrint(vm.selected)}}</tab-button>

        <tab-button is-active="vm.state.editorTab === 'axioms'"
                    on-click="vm.setEditorTab('axioms')">Axioms</tab-button>
    </tab-button-container>

    <!-- basic tab -->
    <div ng-if="vm.state.editorTab === 'basic'" class="tab clearfix">
        <error-display ng-if="vm.selected.matonto.createError">{{vm.selected.matonto.createError}}</error-display>

        <!-- static iri -->
        <static-iri iri="vm.selected['@id']" on-edit="vm.editIRI(iriBegin, iriThen, iriEnd)"></static-iri>

        <annotation-tab></annotation-tab>
    </div>

    <!-- axioms tab -->
    <div ng-if="vm.state.editorTab === 'axioms'" class="tab clearfix">
        <!-- rdfs:subClassOf -->
        <object-select ng-model="vm.selected[vm.rdfs + 'subClassOf']"
                       selected-id="vm.selected['@id']"
                       display-text="'Sub Class Of'"
                       muted-text="vm.rdfs + 'subClassOf'"
                       change-event="vm.entityChanged()"
                       select-list="vm.ontology.matonto.subClasses"
                       ontology-id="{{vm.ontology['@id']}}"></object-select>

        <!-- owl:disjointWith -->
        <object-select ng-model="vm.selected[vm.owl + 'disjointWith']"
                       selected-id="vm.selected['@id']"
                       display-text="'Disjoint With'"
                       muted-text="vm.owl + 'disjointWith'"
                       change-event="vm.entityChanged()"
                       select-list="vm.ontology.matonto.subClasses"
                       ontology-id="{{vm.ontology['@id']}}"></object-select>
    </div>
</form>