/* Core variables */
@import "./src/main/resources/public/css/variables";

.instance-block-header {
    &.breadcrumb {
        background: transparent;
        line-height: 33px;
        margin: 0;
        padding: 0;
    }
}