/* Core variables */
@import "./src/main/resources/public/css/variables";

.preview-data-grid {
	.table-header {
		font-weight: 600;
	}
	.text {
		color: inherit;
	}
	.header {
		background-color: var(--light);
		font-weight: bold;
	}
	.highlight-col {
		background-color: var(--primary-light);
	}
	.ht_clone_top {
		z-index: 77;
	}
	.ht_clone_left {
		z-index: 78;
	}
	.ht_clone_top_left_corner {
		z-index: 79;
	}
}