/* Core variables */
@import "./src/main/resources/public/css/variables";

.groups-list {
    .groups {
        tr {
            &:hover {
                cursor: pointer;
            }
            td {
                &:first-child {
                    width: 15%;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}