<!-- settings.html -->
<div class="settings-page clearfix" ng-controller="SettingsController as vm">
    <h1 class="page-header">Settings</h1>
    <settings-container header="'Ontology Editor'">
        <custom-setting header="'Drop Down Tooltip Display'" question="'What do you want displayed when you hover over the items in the dropdown?'">
            <radio-button ng-model="vm.settings.tooltipDisplay" display-text="'Full IRI'" value="'@id'" change-event="vm.saveSettings()"></radio-button>
            <radio-button ng-model="vm.settings.tooltipDisplay" display-text="'rdfs:label or dc:title'" value="'label'" change-event="vm.saveSettings()"></radio-button>
            <radio-button ng-model="vm.settings.tooltipDisplay" display-text="'rdfs:comment or dc:description'" value="'comment'" change-event="vm.saveSettings()"></radio-button>
        </custom-setting>
        <custom-setting header="'Tree Item Display'" question="'What do you want displayed in the tree?'">
            <radio-button ng-model="vm.settings.treeDisplay" display-text="'Pretty Print'" value="'pretty'" change-event="vm.saveSettings()"></radio-button>
            <radio-button ng-model="vm.settings.treeDisplay" display-text="'Full IRI'" value="'@id'" change-event="vm.saveSettings()"></radio-button>
        </custom-setting>
    </settings-container>
</div>