/* Core variables */
@import "./src/main/resources/public/css/variables";

.advanced-language-select {
    .btn-link {
        display: inline-block;
        margin-bottom: 8px;

        i {
            padding-right: 5px;
        }
    }
}