<!-- mapper.html -->
<div class="mapper clearfix" ng-controller="MapperController as vm">
    <step-through-sidebar active-index="vm.activeStep"></step-through-sidebar>
    <div id="mapper-content" class="container-fluid">
        <file-form ng-if="vm.activeStep === 0" 
            ng-model="vm.delimitedFile" 
            on-upload-click="vm.submitFileUpload()" 
            on-continue-click="vm.displayChooseMapping()"
            separator="vm.delimitedSeparator"
            contains-headers="vm.delimitedContainsHeaders"></file-form>
        <file-preview-table ng-if="vm.filePreview" rows="vm.filePreview.rows" headers="vm.filePreview.headers" on-click="vm.togglePreview(big)"></file-preview-table>
    </div>
</div>
