<!-- mapper.html -->
<div class="mapper clearfix" ng-controller="MapperController as vm">
    <!-- Step through sidebar -->
    <step-through-sidebar active-index="vm.activeStep" steps="vm.steps"></step-through-sidebar>

    <!-- Overlays -->
    <mapping-select-overlay ng-if="vm.activeStep === 1 && !vm.displayPreviousCheck" 
        on-click-back="vm.closeMappingSelect()" 
        on-click-continue="vm.displayOntologySelect(mappingType, mappingName)"></mapping-select-overlay>
    <ontology-select-overlay ng-if="vm.activeStep === 2"
        ontology="vm.sourceOntology"
        on-click-back="vm.changeOntology ? vm.closeOntologyChange() : vm.displayMappingSelect()" 
        on-click-continue="vm.displayStartingClassSelect(ontology)"></ontology-select-overlay>
    <starting-class-select-overlay ng-if="vm.activeStep === 3" 
        ontologies="vm.ontologies"
        on-click-back="vm.displayOntologySelect()" 
        on-click-continue="vm.displayEditMapping(classId)"></starting-class-select-overlay>
    <finish-overlay ng-if="vm.activeStep === 5"
        save="vm.saveMapping()"
        finish="vm.initialize()"></finish-overlay>
    <ontology-preview-overlay ng-if="vm.displayOntologyPreview" 
        close="vm.toggleOntologyPreview()"
        ontology="vm.sourceOntology"></ontology-preview-overlay>
    <previous-check-overlay ng-if="vm.displayPreviousCheck"
        mapping="vm.mapping"
        ontology="vm.sourceOntology"
        file-preview="vm.filePreview"
        on-click-back="vm.displayMappingSelect()"
        on-click-continue="vm.displayEditMapping()"></previous-check-overlay>
    <iri-template-overlay ng-if="vm.displayIriTemplate"
        columns="vm.filePreview.headers"
        class-mapping="vm.classMapping"
        set="vm.displayIriTemplate = false; vm.setIriTemplate(prefixEnd, localName)"
        cancel="vm.displayIriTemplate = false"></iri-template-overlay>
    <mapping-name-overlay ng-if="vm.displayMappingName"
        mapping-name="{{vm.mapping.name}}"
        set="vm.displayMappingName = false; vm.setMappingName(name)"
        close="vm.displayMappingName = false"></mapping-name-overlay>
    <confirmation-overlay ng-if="vm.displayDeleteConfirm"
        header-text="'Delete ' + vm.deleteEntity.name"
        confirm-click="vm.displayDeleteConfirm = false; vm.deleteMappingEntity()"
        cancel-click="vm.displayDeleteConfirm = false; vm.deleteEntity = undefined"
        confirm-text="'Yes'"
        cancel-text="'No'">Are you sure you want to delete <strong>{{vm.deleteEntity.name}}</strong>?
            <p ng-if="!vm.deleteEntity.hasOwnProperty('propMappingId')" class="help-block">
                Deleting a class will remove any properties that link to it.
            </p>
        </confirmation-overlay>
    <confirmation-overlay ng-if="vm.displayCancelConfirm"
        header-text="'Cancel Mapping'"
        confirm-click="vm.displayCancelConfirm = false; vm.initialize()"
        cancel-click="vm.displayCancelConfirm = false"
        confirm-text="'Yes'"
        cancel-text="'No'">Are you sure you want to cancel mapping?</confirmation-overlay>
    <confirmation-overlay ng-if="vm.displayPageChangeConfirm"
        header-text="'Leaving Mapping Tool'"
        confirm-click="vm.displayPageChangeConfirm = false; vm.confirmPageChange()"
        cancel-click="vm.displayPageChangeConfirm = false"
        confirm-text="'Yes'"
        cancel-text="'No'">
        <p>Are you sure you want to leave the mapping tool?</p><p>All your current progress will be lost.</p>
    </confirmation-overlay>

    <!-- Content besides step through sidebar -->
    <div id="mapper-content" class="container-fluid">
        <h3 ng-if="!vm.areOntologies()">No available ontologies to map with</h3>
        <div id="main" ng-style="{paddingBottom: (vm.tableHeight + 'px')}">
            <file-form ng-if="vm.activeStep === 0 && vm.areOntologies()" 
                delimited-file="vm.delimitedFile" 
                on-upload-click="vm.submitFileUpload()" 
                on-continue-click="vm.displayMappingSelect()"
                separator="vm.delimitedSeparator"
                contains-headers="vm.delimitedContainsHeaders"></file-form>
            <div id="edit-mapping-container" ng-if="vm.activeStep === 4">
                <div id="mapping-header">
                    <div id="ontology-section">
                        <a ng-click="vm.toggleOntologyPreview()">{{vm.getOntologyName()}}</a>
                        <button class="btn btn-primary" ng-click="vm.changeOntology = true; vm.displayOntologySelect()">Change</button>
                    </div>
                    <form id="submit-mapping">
                        <label ng-hide="vm.isPreviousMapping && vm.saveToServer === false">
                            <input type="checkbox" ng-model="vm.saveToServer"></input>
                            Save mapping to server
                        </label>
                        <div class="actions">
                            <button class="btn btn-primary" ng-click="vm.displayFinish()" 
                                ng-disabled="vm.invalidPropMappings.length > 0">Submit</button>
                            <br/>
                            <a ng-click="vm.displayCancelConfirm = true">Cancel</a>
                        </div>
                    </form>
                    <div id="mapping-title">
                        <h1>{{vm.mapping.name}} <button type="button" class="btn btn-link" ng-click="vm.displayMappingName = true"><i class="fa fa-pencil"></i></button></h1>
                    </div>
                </div>
                <div id="edit-mapping">
                    <rdf-preview create-preview="vm.generateRdfPreview(format)" preview="vm.rdfPreview"></rdf-preview>
                    <class-list mapping="vm.mapping" 
                        ontologies="vm.ontologies"
                        columns="vm.filePreview.headers"
                        invalid-prop-ids="vm.invalidPropMappings"
                        click-add-prop="vm.displayPropForm(classMappingId)"
                        click-class="vm.displayEditClassForm(classMappingId)"
                        click-prop="vm.displayEditPropForm(classMappingId, propMappingId)"
                        click-delete="vm.displayDeleteConfirmation(classMappingId, propMappingId)"></class-list>
                    <prop-form ng-if="vm.newProp" 
                        selected-prop="vm.selectedPropId" 
                        props="vm.availableProps"
                        is-datatype-prop="vm.displayColumnForm()"
                        is-object-prop="vm.clearSelectedColumn()"
                        ontologies="vm.ontologies"
                        class-id="{{vm.getClassId(vm.editingClassMappingId)}}"
                        set="vm.setObjectProp()"
                        set-next="vm.setNextObjectProp()"></prop-form>
                    <column-form ng-if="vm.isDatatypeProperty(vm.selectedPropId) && vm.newProp" 
                        selected-column="vm.selectedColumn" 
                        columns="vm.availableColumns"
                        set="vm.setDatatypeProp(column)"
                        set-next="vm.setNextDatatypeProp(column)"
                        last-prop="vm.availableProps.length <= 1"></column-form>
                    <edit-prop-form ng-if="vm.selectedPropMappingId && !vm.newProp"
                        columns="vm.availableColumns"
                        mapping="vm.mapping"
                        ontologies="vm.ontologies"
                        set="vm.setDatatypeProp(column)"
                        click-delete="vm.displayDeleteConfirmation(classMappingId, propMappingId)"
                        class-mapping-id="vm.editingClassMappingId"
                        selected-prop-mapping="vm.selectedPropMappingId"
                        selected-column="vm.selectedColumn"></edit-prop-form>
                    <edit-class-form ng-if="vm.editingClassMappingId && !vm.selectedPropMappingId && !vm.newProp"
                        mapping="vm.mapping"
                        ontologies="vm.ontologies"
                        class-mapping-id="vm.editingClassMappingId"
                        is-last-class="vm.numMappedClasses === 1"
                        props="vm.availableProps"
                        edit-iri="vm.displayIriTemplateOverlay()"
                        open-prop="vm.openAvailableProp(propId)"
                        click-delete="vm.displayDeleteConfirmation(classMappingId)"></edit-class-form>
                    <a id="edit-cancel" ng-if="vm.editingClassMappingId" ng-click="vm.resetEditingVars(); vm.clearSelectedColumn();">Cancel</a>
                </div>
            </div>
        </div>
        <file-preview-table ng-if="vm.filePreview" 
            rows="vm.filePreview.rows" 
            headers="vm.filePreview.headers"
            mapped-columns="vm.mappedColumns" 
            table-height="vm.tableHeight"
            highlight-idx="vm.isDatatypeProperty(vm.selectedPropId) ? vm.filePreview.headers.indexOf(vm.selectedColumn) : undefined"
            on-click="vm.clickColumn(colIndex)"
            is-clickable="!!vm.selectedPropId && vm.isDatatypeProperty(vm.selectedPropId)"></file-preview-table>
    <button ng-click="vm.displayMapping = !vm.displayMapping" style="position: absolute; top: 0; left: 0; z-index: 1000;"><i class="fa fa-question"></i></button>
    <pre ng-if="vm.displayMapping" style="position: absolute; top: 0; left: 25px; right: 0; height: 100%; z-index: 1000">{{vm.mapping | json}}</pre>
    </div>
</div>
