/* Core variables */
@import "./src/main/resources/public/css/variables";

.create-concept-overlay {
    .heading {
        font-size: 1.125em;
        font-weight: bold;
    }
    .section:not(:last-child) {
        border-bottom: 1px solid $gray-lighter;
        border-top: 1px solid $gray-lighter;
        margin: 0 10px;
        padding: 0 10px;
    }
    .pref-label {
        display: flex;
        flex-direction: row;

        .value {
            flex: 1;
            margin-right: 15px;
        }
    }
    .btn-link {
        border: 0;
        padding: 0;

        i {
            padding-right: 5px;
        }
    }
}