/* Core variables */
@import "./src/main/resources/public/css/variables";

.class-block-header {
    .form-group {
        display: flex;
        margin: 0 15px 0 0;
        width: 400px;
        
        .control-label {
            line-height: 33px;
            margin: 0;
            padding-right: 15px;
        }
        
        .dataset-select {
            flex: 1;
        }
    }
    .btn .fa {
        margin: 0;
    }
}