<section class="mapping-preview col-xs-8 full-height" ng-show="dvm.state.step === 0">
    <div class="boxed full-height">
        <div ng-if="!dvm.state.editMapping && !dvm.manager.mapping">
            <p class="lead">Welcome to the Mapping Tool!</p>
            <p>If this is your first time here, you may want to check the <a href="http://docs.matonto.org/#mapping_tool" target="_blank">User's Guide</a>. Get started by clicking on a button in the left menu or a mapping name in the list.</p>
        </div>
        <div ng-if="!dvm.state.editMapping && dvm.manager.mapping">
            <custom-button on-click="dvm.useMapping()" is-disabled-when="!dvm.ontologyExists()">Use</custom-button>
            <h1>{{dvm.manager.mapping.name}}</h1>
            
            <h3>Source Ontology</h3>
            <p class="source-ontology" ng-class="{'text-danger': !dvm.ontologyExists()}" title="{{dvm.manager.getSourceOntologyId(dvm.manager.mapping.jsonld)}}">{{dvm.ontology.getBeautifulIRI(dvm.manager.getSourceOntologyId(dvm.manager.mapping.jsonld))}} <span ng-if="!dvm.ontologyExists()" class="text-muted">(This ontology could not be found)</span></p>

            <h3>Mapped Classes and Properties</h3>
            <div class="class-list">
                <ul class="list">
                    <li ng-repeat="classMapping in dvm.manager.getAllClassMappings(dvm.manager.mapping.jsonld)">
                        {{dvm.getClassName(classMapping)}}
                        <ul class="props">
                            <li ng-repeat="propMapping in dvm.manager.getPropMappingsByClass(dvm.manager.mapping.jsonld, classMapping['@id'])">
                                {{dvm.getPropName(propMapping)}}{{dvm.manager.isDataMapping(propMapping) ? ' - Column ' + dvm.getColumnIndex(propMapping) : ''}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>