/* Core variables */
@import "./src/main/resources/public/css/variables";

record-view {
    .record-sidebar {
        width: 500px;
    }
    record-view-tabset .material-tabset {
        height: auto !important;
    }
    dt {
        float: left;
        clear: left;
        width: 100px;
    }
    dd {
        margin: 0 0 0 110px;
        padding: 0 0 0.5em 0;
    }
}