/* Core variables */
@import "./src/main/resources/public/css/variables";

.hierarchy-tree.tree {
    display: inline-block;
    min-width: 100%;

    .repeater-container {
        overflow-x: auto;

        .tree-item-wrapper {
            padding-right: 10px;
        }
        .tree-item {
            height: 26px;
        }
    }
}